{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'item_manager/style.css' %}?v={{ now }}">
    <title>Document</title>
</head>
<body onload="initialize_data()">
    <div class="menu-hyperlink-format" id="menu-div">
        <a id="home-clicked" href="#" class="hyperlink-menu-item-home hyperlink-menu-item" onclick = "return false">Home</a>
        <a id="item-list-clicked" href="#" class="hyperlink-menu-item" onclick="return false">Item list</a>
    </div>
    <h2>Item view</h2>
    <div>
        <div>
            <label class="output-label">Item id: </label>
            <span class="item-view-output">
                {{ item_single.id }}
            </span>
        </div>
        <div>
            <label class="output-label">Item number: </label>
            <span class="item-view-output">
                {{ item_single.number }}
            </span>
        </div>
        <div>
            <label class="output-label">Item name: </label>
            <span class="item-view-output">
                {{ item_single.name }}
            </span>
        </div>
        <div>
            <label class="output-label">Item description: </label>
            <span class="item-view-output">
                {{ item_single.description }}
            </span>
        </div>
        <div>
            <label class="output-label">Item cost internal: </label>
            <span class="item-view-output">
                {{ item_single.item_cost_internal }}
            </span>
        </div>
    </div>
    <div class="item-single-step-1-instruction-div" id="item-single-step-1-instruction-div">
        <p class="item-single-step-1-instruction-title"><span class="item-single-step-1-left-arrow">&#8593;</span>Click the Home link</p>
    </div>
    <p class="wiz-status" id="wiz-status">{{ wizStatus }}</p>
</body>
<script type="text/javascript">
    var jsWizStatus = document.getElementById("wiz-status").innerHTML
    function initialize_data(){
        if(jsWizStatus == 2){
            document.getElementById("item-single-step-1-instruction-div").style.visibility = "inherit"
            document.getElementById("item-single-step-1-instruction-div").style.visibility = "true"
        }
    }
    document.getElementById("menu-div").addEventListener("click", function(e){
        if(e.target.id == "home-clicked" && jsWizStatus == 1){
            window.open("/home/index/1/", "_top")
        }
        else if(e.target.id == "home-clicked" && jsWizStatus == 2){
            window.open("/home/index/4/", "_top")
        }
        else if(e.target.id == "item-list-clicked" && jsWizStatus==1){
            window.open("/item_manager/item_list/1/", "_top")
        }
    })
</script>
</html>