{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'item_manager/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu-hyperlink-format">
        <a href="{% url 'index' %}" class="hyperlink-menu-item">Home</a>
        <a>Item list</a>
    </div>
    <h2>New item</h2>
    <form action="{% url 'item_new' %}" method="POST">
        {% csrf_token %}
        <div>
            <label>
                Item Number
                <input type="text" name="item_number" id="item_number" required />
            </label>
        </div>
        <div>
            <label>
                Item Name
                <input type="text" name="item_name" id="item_name" required />
            </label>
        </div>
        <div>
            <label>
                Item Description
                <input type="text" name="item_description" id="item_description" required />
            </label>
        </div>
        <div>
            <label>
                Item Internal Cost
                <input type="number" name="item_cost_internal" id="item_cost_internal" step=.01 onchange="twoDecimalSetter()" required>
            </label>
        </div>
        <button type="submit" class="create-new-item-button">Create item</button>
    </form>
    {{ message }}
    <script>
        function twoDecimalSetter(){
            twoDecimalCost=document.getElementById("item_cost_internal").value;
            twoDecimalCost=Number(twoDecimalCost).toFixed(2);
            document.getElementById("item_cost_internal").value=twoDecimalCost;
        }
    </script>
</body>
</html>