{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'item_manager/style.css' %}?v={{ now }}">
    <title>Document</title>
</head>
<body onload="initialize_data()">
    <div class="menu-hyperlink-format" id="menu-div">
        <a id="home-clicked" href="#" class="hyperlink-menu-item-home hyperlink-menu-item" onclick = "return false">Home</a>
        <a id="item-new" href="#" class="hyperlink-menu-item" onclick = "return false">Item new</a>
    </div>
    <h2>List all items</h2>
    <table id="item-table">
        <thead>
            <th>Item Number</th>
            <th>Item Name</th>
            <th>id</th>
            <th class="hide-me">Item Number</th>
        </thead>
        {% for item in list_all %}
        <tr>
            <td><a href="{% url 'item_view' item.id 1 %}" onclick="return false">{{item.number}}</a></td>
            <td><a href="{% url 'item_view' item.id 1 %}" onclick="return false">{{item.name}}</a></td>
            <td><a href="{% url 'item_view' item.id 1 %}" onclick="return false">{{item.id}}</a></td>
            <td class="hide-me">{{item.number}}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="item-list-step-1-instruction-1-div" id="item-list-step-1-instruction-1-div">
        <p class="item-list-step-1-instruction-title"><span class="item-list-step-1-left-arrow">&#8592;</span>Click the Item Number, Name or id to see its details</p>
    </div>
    <p class="wiz-status" id="wiz-status">{{ wizStatus }}</p>
</body>
<script type="text/javascript">
    var jsWizStatus = document.getElementById("wiz-status").innerHTML
    document.getElementById("menu-div").addEventListener("click", function(e){
        if(jsWizStatus == 1){
            if(e.target.id == "home-clicked"){
            window.open("/home/index/1/", "_top")
            }
            else if(e.target.id == "item-new"){
                window.open("/item_manager/item_new/1/", "_top")
            }
        }
    })
    document.getElementById("item-table").addEventListener("click", function(e){
        if(jsWizStatus == 2){
            if(document.getElementsByTagName("td")[0].textContent == e.target.innerHTML || document.getElementsByTagName("td")[1].textContent == e.target.innerHTML || document.getElementsByTagName("td")[2].textContent == e.target.innerHTML){
                var wizTarget = String(e.target)
                wizTarget = wizTarget.slice(0, wizTarget.length-2) + "2/"
                window.open(wizTarget, "_top")
            }
        }
        else if(jsWizStatus == 1){
            window.open(e.target, "_top")
         }
    })
    function initialize_data(){
        if(jsWizStatus == 2){
            document.getElementById("item-list-step-1-instruction-1-div").style.visibility = "inherit" 
            document.getElementById("item-list-step-1-instruction-1-div").style.visibility = "true"
        }
        for(i=0; i<=document.getElementById("item-table").rows.length; i++){
        if(document.getElementById("item-table").rows[i].cells.item(3).innerHTML == "00000"){
            document.getElementById("item-table").deleteRow(i)
        }
        }
    }
</script>
</html>