<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="menu-hyperlink-format">
        <a href="{% url 'index' %}" class="hyperlink-menu-item">Home</a>
    </div>
    <h2>Item Options</h2>
    <ul>
        <li><a url href="{% url 'item_new' %}">Item new</a> - Create a new item</li>
        <li><a url href="{% url 'item_list' %}">Item list</a> - View individual items by selecting from the list</li>
    </ul>
</body>
</html>