.app-container{
    display: flex;
}
input{
    display: block;
    margin-bottom: 5px;
}
.menu-hyperlink-format{
    margin-bottom: 10px;
    font-weight: bold;
}
.company-view-output{
    display: block;
    margin-bottom: 5px;
}
.output-label{
    font-weight: bold;
}
.hyperlink-menu-item-home{
    margin-right: 10px;
}
.hyperlink-menu-item{
    color: rgb(85, 26, 139)
}
.create-company-button{
    background-color: #FFA41C;
    border-width: 1px;
    border-radius: 16px;
}
.hide-me{
    visibility: hidden;
}
.wiz-status{
    visibility: hidden;
}
.wizard-column-1-description{
    display: flex;
    justify-content:left;
    z-index: 1;
    position: relative;
}
.company-options-step-1-instruction-div{
    font-size: 16px;
    position: absolute;
    left: 308px;
    top: 94px;
}
.company-options-step-1-instruction-title{
    display: flex;
    justify-content: center;
    color: blue;
    position: relative;
    z-index: 0;
}
.company-options-step-1-left-arrow{
    font-size: 40px;
    font-weight: bold;
    color: red;
    margin-right: 6px;
    line-height: 10px;
    z-index: 0;
    position: relative;
    top: 2px;
}
.company-options-step-1-instruction-div{
    visibility: hidden;
}
.rect {
    display: flex;
}
.content {
    width: 177px;
    height: 305px;
}
.right-border {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    visibility: hidden;
}
.bracket-span {
    width: 10px;
    height: calc(50% - 10px);
    display: inline-block;
}
.left-brace-tl {
    border-right: 2px solid blue;
    border-bottom-right-radius: 10px;
    margin-right: -6px;
    margin-top: 10px;
 }  
 .left-brace-tr {
    margin-bottom: 10px;
    border-left: 2px solid blue;
    border-top-left-radius: 10px;
 }
 .left-brace-bl {
    margin-top: -4px;
    border-right: 2px solid blue;
    border-top-right-radius: 10px;
    margin-right: -6px;
 } 
.left-brace-br {
    margin-bottom: -8px;
    border-left: 2px solid blue;
    border-bottom-left-radius: 10px;
}
.company-new-step-1-instruction-div{
    font-size: 18.72px;
    position: absolute;
    left: 210px;
    top: 214px;
    visibility: hidden;
}
.company-new-step-1-instruction-title{
    color: blue;
    font-size: 18.72px;
}
.company-new-step-2-instruction-div{
    font-size: 18.72px;
    position: absolute;
    left: 170px;
    top: 391px;
    visibility: hidden;
}
.company-new-step-2-instruction-title{
    color: blue;
    font-size: 18.72px;
}
.company-new-step-2-left-arrow{
    font-size: 40px;
    font-weight: bold;
    color: red;
    margin-right: 6px;
    line-height: 10px;
    z-index: 0;
    position: relative;
    top: 4px;
}
.company-new-step-3-instruction-div{
    font-size: 18.72px;
    position: absolute;
    left: 170px;
    top: -11px;
    visibility: hidden;
}
.company-new-step-3-instruction-title{
    font-size: 16px;
    font-weight: bold;
    color: blue;
}
.company-new-step-3-left-arrow{
    font-size: 40px;
    font-weight: bold;
    color: red;
    margin-right: 6px;
    line-height: 10px;
    z-index: 0;
    position: relative;
    top: 5px;
}
.company-list-step-1-instruction-1-div{
    font-size: 18.72px;
    position: absolute;
    left: 238px;
    top: 99px;
    visibility: hidden;
}
.company-list-step-1-instruction-title{
    font-size: 16px;
    font-weight: bold;
    color: blue;
}
.company-list-step-1-left-arrow{
    font-size: 40px;
    font-weight: bold;
    color: red;
    margin: 0px;
    line-height: 10px;
    z-index: 0;
    position: relative;
    top: 5px;
    left: -10px;
}
.company-single-step-1-instruction-div{
    font-size: 18.72px;
    position: absolute;
    left: 32px;
    top: 13px;
    visibility: hidden;
    z-index: -1;
}
.company-single-step-1-instruction-title{
    font-size: 16px;
    font-weight: bold;
    color: blue;
}
.company-single-step-1-left-arrow{
    font-size: 30px;
    font-weight: bold;
    -webkit-text-stroke: 0.5px;
    color: red;
    margin: 0px;
    line-height: 10px;
    z-index: 0;
    position: relative;
    top: 2px;
    left: -10px;
}