.company-address-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 0px;
    left: -120px;
}
.doc-type{
    text-align: right;
    font-weight: bold;
    position: absolute;
    top: 0px;
    visibility: hidden;
}
.bill-to{
    position: absolute;
    left: 110px;
    top: 171px;
    visibility: hidden;
}
.make-payment-to{
    position: absolute;
    left: 569px;
    top: 171px;
    visibility: hidden;
}
.customer-mailing-address{
    display: flex;
    flex-direction: column;
    text-align: left;
    word-wrap: normal;
}
.text-area-customer-mailing-address{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    height: 5em;
    width: 14em;
    border-color: black;
    resize: none;
    color: black;
    background-color: lightgrey;
    position: absolute;
    top: 191px;
}
.text-area-company-mailing-address{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    height: 5em;
    width: 14em;
    border-color: black;
    resize: none;
    text-align: left;
    color: black;
    background-color: lightgrey;
    position: absolute;
    top: 191px;
    left: 567px;
}
.customer-select-div{
    z-index: 1;
    opacity: 1;
}
.customer-select{
    width: 126px;
    position: absolute;
    left: 73px;
    top: 172px;
    background-color: rgb(255,216,20);
    text-align: left;
    z-index: 1;
}
.customer-select option{
    background-color: white;
}
.change-customer-button{
    min-width: 120px;
    position: absolute;
    left: 76px;
    top: 172px;
    background-color: rgb(235, 199, 20);
    border-width: 1px;
    opacity: 0;
    z-index: 0;
}
.company-select{
    width: 126px;
    z-index: 1;
    position: absolute;
    left: 635px;
    top: 172px;
    opacity: 1;
    background-color: rgb(255,216,20);
    text-align: left;
}
.company-select option{
    background-color: white;
}
.change-company-button{
    min-width: 119px;
    position: absolute;
    left: 634px;
    top: 172px;
    background-color: rgb(235, 199, 20);
    opacity: 0;
    z-index: 0;
    border-width: 1px;
}
.date-invoice-group{
    position: absolute;
    top: 98px;
}
.invoice-date-header{
    position: absolute;
    left: 43px;
    top: 0px;
}
.invoice-number-header{
    position: absolute;
    left: 159px;
    top: 0px;
    white-space: nowrap;
}
.invoice-date-input{
    background-color: rgb(251,247,240);
    border-color: black;
    border-width: 1px;
    height: 20px;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 15ch;
    text-align: center;
}
.invoice-num-input{
    background-color: rgb(251,247,240);
    border-color: black;
    border-width: 1px;
    height: 17.5px;
    position: absolute;
    top: 16px;
    left: 118px;
    width: 18ch;
    text-align: center;
}
.line-items-table{
    border-collapse: collapse;
    position: absolute;
    top: 310px;
}
.th{
    word-wrap: break-word;
    overflow:hidden;
}
tr:nth-child(1) td{
    border: 1px solid black;
}
tr:nth-child(2) td{
    border: 1px solid black;
}
tr:nth-child(3) td{
    border: 1px solid black;
}
tr:nth-child(4) td{
    border: 1px solid black;
}
tr:nth-child(5) td{
    border: 1px solid black;
}
tr:nth-child(6) td:nth-child(6){
    border: 1px solid black;
}
tr:nth-child(7) td:nth-child(6){
    border: 1px solid black;
}
tr:nth-child(8) td:nth-child(6){
    border: 1px solid black;
}
.po-num-input{
    text-align: left;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 16ch;
    padding: 2px;
}
.item-num-select{
    height: 21.5px;
    width: 13ch;
    text-align: left;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-num-select option{
    background-color: white;
}
.item-name-select{
    height: 21.5px;
    width: 21ch;
    text-align: left;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-name-select option{
    background-color: white;
}
.qty-ea-input{
    text-align: right;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 12ch;
    padding: 2px;
}
.price-ea-input{
    text-align: right;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
}
.amount-dollar-input{
    text-align: right;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
}
/* .po-num-input-2{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px; 
    width: 16ch;
    padding: 2px;
} */
/* .item-num-select-2{
    height: 21.5px;
    width: 13ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-num-select-2 option{
    background-color: white;
} */
/* .item-name-select-2{
    height: 21.5px;
    width: 21ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-name-select-2 option{
    background-color: white;
} */
/* .qty-ea-input-2{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 12ch;
    padding: 2px;
} */
/* .price-ea-input-2{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
} */
/* .amount-dollar-input-2{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
} */
/* .po-num-input-3{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 16ch;
    padding: 2px;
} */
/* .item-num-select-3{
    height: 21.5px;
    width: 13ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-num-select-3 option{
    background-color: white;
} */
/* .item-name-select-3{
    height: 21.5px;
    width: 21ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-name-select-3 option{
    background-color: white;
} */
/* .qty-ea-input-3{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 12ch;
    padding: 2px;
} */
/* .price-ea-input-3{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
} */
/* .amount-dollar-input-3{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
} */
/* .po-num-input-4{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 16ch;
    padding: 2px;
} */
/* .item-num-select-4{
    height: 21.5px;
    width: 13ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-num-select-4 option{
    background-color: white;
} */
/* .item-name-select-4{
    height: 21.5px;
    width: 21ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-name-select-4 option{
    background-color: white;
} */
/* .qty-ea-input-4{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 12ch;
    padding: 2px;
} */
/* .price-ea-input-4{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
} */
/* .amount-dollar-input-4{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
} */
/* .po-num-input-5{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 16ch;
    padding: 2px;
} */
/* .item-num-select-5{
    height: 21.5px;
    width: 13ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-num-select-5 option{
    background-color: white;
} */
/* .item-name-select-5{
    height: 21.5px;
    width: 21ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
}
.item-name-select-5 option{
    background-color: white;
} */
/* .qty-ea-input-5{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 12ch;
    padding: 2px;
} */
/* .price-ea-input-5{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
} */
/* .amount-dollar-input-5{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
} */
.po-num-input-6{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 17ch;
    padding: 2px;
    visibility: hidden;
}
.item-num-select-6{
    height: 21.5px;
    width: 13ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
    visibility: hidden;   
}
/* .item-num-select-1 option{
    background-color: white;
} */
.item-name-select-6{
    height: 21.5px;
    width: 21ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
    visibility: hidden;
}
.item-name-select-1 option{
    background-color: white;
}
.qty-ea-input-6{
    text-align: left;
    background-color: white;
    border: 0px solid black;
    height: 17.5px;
    width: 12ch;
    padding: 2px;
}
.price-ea-input-6{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
    visibility: hidden;
}
.po-num-input-7{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 17ch;
    padding: 2px;
    visibility: hidden;
}
.item-num-select-7{
    height: 21.5px;
    width: 13ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
    visibility: hidden;
}
/* .item-num-select-1 option{
    background-color: white;
} */
.item-name-select-7{
    height: 21.5px;
    width: 21ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
    visibility: hidden;
}
.item-name-select-1 option{
    background-color: white;
}
.qty-ea-input-7{
    text-align: left;
    background-color: white;
    border: 0px solid black;
    height: 17.5px;
    width: 12ch;
    padding: 2px;
}
.price-ea-input-7{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
    visibility: hidden;
}
.po-num-input-8{
    text-align: center;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 17ch;
    padding: 2px;
    visibility: hidden;
}
.item-num-select-8{
    height: 21.5px;
    width: 13ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
    visibility: hidden;
}
/* .item-num-select-1 option{
    background-color: white;
} */
.item-name-select-8{
    height: 21.5px;
    width: 21ch;
    text-align: center;
    background-color: rgb(255,216,20);
    border: 0px solid black;
    visibility: hidden;
}
/* .item-name-select-1 option{
    background-color: white;
} */
.qty-ea-input-8{
    text-align: left;
    background-color: white;
    border: 0px solid black;
    height: 17.5px;
    width: 12ch;
    padding: 2px;
}
.price-ea-input-8{
    text-align: center;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
    visibility: hidden;
}
.sales-amount-input{
    text-align: right; 
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
}
.freight-amount-input{
    text-align: right;
    background-color: rgb(251,247,240);
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
}
.total-due-input{
    text-align: right;
    color: black;
    background-color: lightgrey;
    border: 0px solid black;
    height: 17.5px;
    width: 14ch;
    padding: 2px;
}
.save-form-button-paragraph{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 453px;
    /* left: 178px; */
    left: 120px;
}
.save-form-button{
    background-color: #FFA41C;
    border-width: 1px;
    border-radius: 16px;
    width: 13ch;
    font-size: 12px;
}
.open-edit-invoice-button{
    background-color: #FFA41C;
    border-width: 1px;
    border-radius: 16px;
    width: 13ch;
    margin-right: 8px;
    font-size: 12px;
}
.new-invoice-button{
    background-color: #FFA41C;
    border-width: 1px;
    border-radius: 16px;
    width: 13ch;
    margin-right: 8px;
    font-size: 12px;
}
.hyperlink-menu-item{
    margin-right: 10px;
}
.message-div{
    position: absolute;
    top: 499px;
    left: 11px;
    font-size: 15px;
    white-space: nowrap;
}
.popup-table-cells{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    height: 30px;
    width: 170px;
    background-color: #555;
    color: #fff;
    opacity: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.corner-for-popup{
    border-right: 10px solid transparent;
    border-top: 5px solid grey;
    border-bottom: 1px solid transparent;
    border-left: 0px solid transparent;
    width: 0px;
    height: 0px;
    position: absolute;
    z-index: 1;
}
.hide-me{
    visibility: hidden;
}
.invoice-table tr td{
    border: 0px;
}
@media (max-width: 759px) {
    .line-items-table{
        top: 300px;
    }
    body{
        font-size: 12px;
    }
    .po-num-input{
        width: 9ch;
        font-size: 12px;
    }
    /* .po-num-input-2{
        width: 9ch;
        font-size: 12px;
    }
    .po-num-input-3{
        width: 9ch;
        font-size: 12px;
    }
    .po-num-input-4{
        width: 9ch;
        font-size: 12px;
    }
    .po-num-input-5{
        width: 9ch;
        font-size: 12px;
    } */
    .po-num-input-6{
        width: 9ch;
        font-size: 12px;
    }
    .po-num-input-7{
        width: 9ch;
        font-size: 12px;
    }
    .po-num-input-8{
        width: 9ch;
        font-size: 12px;
    }
    .item-num-select{
        width: 12ch;
        font-size: 12px;
    }
    /* .item-num-select-2{
        width: 12ch;
        font-size: 12px;
    }
    .item-num-select-3{
        width: 12ch;
        font-size: 12px;
    }
    .item-num-select-4{
        width: 12ch;
        font-size: 12px;
    }
    .item-num-select-5{
        width: 12ch;
        font-size: 12px;
    } */
    .item-num-select-6{
        width: 12ch;
        font-size: 12px;
    }
    .item-num-select-7{
        width: 12ch;
        font-size: 12px;
    }
    .item-num-select-8{
        width: 12ch;
        font-size: 12px;
    }
    .item-name-select{
        width: 14ch;
        font-size: 12px;
    }
    /* .item-name-select-2{
        width: 14ch;
        font-size: 12px;
    }
    .item-name-select-3{
        width: 14ch;
        font-size: 12px;
    }
    .item-name-select-4{
        width: 14ch;
        font-size: 12px;
    }
    .item-name-select-5{
        width: 14ch;
        font-size: 12px;
    } */
    .item-name-select-6{
        width: 14ch;
        font-size: 12px;
    }
    .item-name-select-7{
        width: 14ch;
        font-size: 12px;
    }
    .item-name-select-8{
        width: 14ch;
        font-size: 12px;
    }
    .qty-ea-input{
        width: 7ch;
        font-size: 12px;
    }
    /* .qty-ea-input-2{
        width: 7ch;
        font-size: 12px;
    }
    .qty-ea-input-3{
        width: 7ch;
        font-size: 12px;
    }
    .qty-ea-input-4{
        width: 7ch;
        font-size: 12px;
    }
    .qty-ea-input-5{
        width: 7ch;
        font-size: 12px;
    } */
    .qty-ea-input-6{
        width: 7ch;
        font-size: 12px;
    }
    .qty-ea-input-7{
        width: 7ch;
        font-size: 12px;
    }
    .qty-ea-input-8{
        width: 7ch;
        font-size: 12px;
    }
    .cost-ea{
        width: 10ch;
    }
    .price-ea-input{
        width: 10ch;
        font-size: 12px;
    }
    /* .price-ea-input-2{
        width: 10ch;
        font-size: 12px;
    }
    .price-ea-input-3{
        width: 10ch;
        font-size: 12px;
    }
    .price-ea-input-4{
        width: 10ch;
        font-size: 12px;
    }
    .price-ea-input-5{
        width: 10ch;
        font-size: 12px;
    } */
    .price-ea-input-6{
        width: 10ch;
        font-size: 12px;
    }
    .price-ea-input-7{
        width: 10ch;
        font-size: 12px;
    }
    .price-ea-input-8{
        width: 10ch;
        font-size: 12px;
    }
    .amount-dollar-input{
        width: 11ch;
        font-size: 12px;
    }
    /* .amount-dollar-input-2{
        width: 11ch;
        font-size: 12px;
    }
    .amount-dollar-input-3{
        width: 11ch;
        font-size: 12px;
    }
    .amount-dollar-input-4{
        width: 11ch;
        font-size: 12px;
    }
    .amount-dollar-input-5{
        width: 11ch;
        font-size: 12px;
    } */
    .sales-amount-input{
        width: 11ch;
        font-size: 12px;
    }
    .freight-amount-input{
        width: 11ch;
        font-size: 12px;
    }
    .total-due-input{
        width: 11ch;
        font-size: 12px;
    }
    .company-address-group{
        left:-378px
    }
    .customer-select-div{
        font-size: 12px;
    }
    .text-area-customer-mailing-address{
        font-size: 15px;
    }
    .customer-select{
        font-size: 12px;
        top: 173px;
        left: 61px;
    }
    .change-customer-button{
        font-size: 12px;
        top: 173px;
        left: 55px;
    }
    .company-select-div{
        font-size: 12px;
    }
    .text-area-company-mailing-address{
        font-size: 15px;
        left: 625px;
    }
    .company-select{
        font-size: 12px;
        top: 173px;
        left: 677px;
    }
    .change-company-button{
        font-size: 12px;
        top: 173px;
        left: 672px;
    }
    .invoice-date-input{
        font-size: 12px;
    }
    .invoice-num-input{
        font-size: 12px;
        left: 107px;
    }
    .save-form-button-paragraph{
        top: 455px;
        left: 28px;
    }
    .save-form-button{
        height: 19px;
    }
    .open-edit-invoice-button{
        height: 19px;
    }
    .new-invoice-button{
        height: 19px;
    }
    .invoice-date-header{
        top: 3px;
    }
    .invoice-number-header{
        top: 3px;
        left: 149px;
    }
    .popup-table-cells{
        border-radius: 6px;
        height: 30px;
        width: 130px;
    }
}
@media print{
    .message-div{
        display: none;
    }
    .corner-for-popup{
        display: none;
    }
    .menu-hyperlink-format{
        display: none;
    }
    .h2-header{
        display: none;
    }
    .save-form-button-paragraph{
        display: none;
    }
    .new-invoice-button{
        display: none;
    }
    .po-num-input{
        width: 18ch;
    }
    /* .po-num-input-2{
        width: 18ch;
    }
    .po-num-input-3{
        width: 18ch;
    }
    .po-num-input-4{
        width: 18ch;
    }
    .po-num-input-5{
        width: 18ch;
    } */
    .po-num-input-6{
        width: 18ch;
    }
    .po-num-input-7{
        width: 18ch;
    }
    .po-num-input-8{
        width: 18ch;
    }
    .item-num-select{
        width: 14ch;
        appearance: none;
    }
    /* .item-num-select-2{
        width: 14ch;
        appearance: none;
    }
    .item-num-select-3{
        width: 14ch;
        appearance: none;
    }
    .item-num-select-4{
        width: 14ch;
        appearance: none;
    }
    .item-num-select-5{
        width: 14ch;
        appearance: none;
    } */
    .item-num-select-6{
        width: 14ch;
        appearance: none;
    }
    .item-num-select-7{
        width: 14ch;
        appearance: none;
    }
    .item-num-select-8{
        width: 14ch;
        appearance: none;
    }
    .item-name-select{
        width: 23ch;
        appearance: none;
    }
    /* .item-name-select-2{
        width: 23ch;
        appearance: none;
    }
    .item-name-select-3{
        width: 23ch;
        appearance: none;
    }
    .item-name-select-4{
        width: 23ch;
        appearance: none;
    }
    .item-name-select-5{
        width: 23ch;
        appearance: none;
    } */
    .item-name-select-6{
        width: 23ch;
        appearance: none;
    }
    .item-name-select-7{
        width: 23ch;
        appearance: none;
    }
    .item-name-select-8{
        width: 23ch;
        appearance: none;
    }
    .change-company-button{
        display: none;
    }
    .change-customer-button{
        display: none;
    }
    .customer-select{
        display: none;
    }
    .company-select{
        display: none;
    }
    .bill-to{
        visibility: visible;
        top: 174px;
        left: 102px;
     }
     .make-payment-to{
         visibility: visible;
         top: 174px;
         left: 529px;
     }
     .text-area-customer-mailing-address{
        top: 187px;
     }
     .text-area-company-mailing-address{
        top: 187px;
        left: 837px;
     }
     .doc-type{
        visibility: visible;
     }
    .qty-ea-input{
        width: 13ch;
    }
    .price-ea-input{
        width: 15ch;
    }
    .amount-dollar-input{
        width: 15ch;
    }
    /* .qty-ea-input-2{
        width: 13ch; 
    } */
    /* .price-ea-input-2{
        width: 15ch;
    } */
    /* .amount-dollar-input-2{
        width: 15ch;
    } */
    /* .qty-ea-input-3{
        width: 13ch;
    } */
    /* .price-ea-input-3{
        width: 15ch;
    } */
    /* .amount-dollar-input-3{
        width: 15ch;
    } */
    /* .qty-ea-input-4{
        width: 13ch;
    } */
    /* .price-ea-input-4{
        width: 15ch;
    } */
    /* .amount-dollar-input-4{
        width: 15ch;
    } */
    /* .qty-ea-input-5{
       width: 13ch;
    } */
    /* .price-ea-input-5{
        width: 15ch;
    } */
    .qty-ea-input-6{
        width: 13ch;
     }
     .price-ea-input-6{
         width: 15ch;
     }
     .qty-ea-input-7{
        width: 13ch;
     }
     .price-ea-input-7{
         width: 15ch;
     }
     .qty-ea-input-8{
        width: 13ch;
     }
     .price-ea-input-8{
         width: 15ch;
     }
    /* .amount-dollar-input-5{
        width: 15ch;
    } */
    .sales-amount-input{
        width: 15ch;
    }
    .freight-amount-input{
        width: 15ch;
    }
    .total-due-input{
        width: 15ch;
    }
}