{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'invoice_manager/style.css' %}?v={{ now }}">
    <title>Document</title>
</head>
<body>
    <div class="menu-hyperlink-format">
        <a href="{% url 'index' %}" class="hyperlink-menu-item">Home</a>
        <a href="{% url 'invoice_new_view_edit' 1 %}">Invoice new</a>
    </div>
    <h2>Invoice List</h2>
    <div>
        <table id="invoice-table" class="invoice-table">
            <thead>
                <th>Date</th>
                <th>Number</th>
                <th>Customer</th>
                <th>ID</th>
                <th class="hide-me">Number</th>
            </thead>
            {% for invoice in invoice_all %}
                <tr>
                    <td><a href="{% url 'invoice_new_view_edit' invoice.id %}">{{invoice.invoice_date}}</a></td>
                    <td><a href="{% url 'invoice_new_view_edit' invoice.id %}">{{invoice.invoice_number}}</a></td>
                    <td><a href="{% url 'invoice_new_view_edit' invoice.id %}">{{invoice.customer_name}}</a></td>
                    <td><a href="{% url 'invoice_new_view_edit' invoice.id %}">{{invoice.id}}</a></td>
                    <td class="hide-me">{{invoice.invoice_number}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
<script type="text/javascript">
    for(i=0; i<=document.getElementById("invoice-table").rows.length; i++){
        if(document.getElementById("invoice-table").rows[i].cells.item(4).innerHTML == "00000"){
            document.getElementById("invoice-table").deleteRow(i)
        }
    }
</script>
</html>