{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'invoice_manager/style.css' %}?v={{ now }}">
    <title>Invoice Document</title>
</head>
<body id="mouse-down">
    <div class="menu-hyperlink-format">
        <a href="{% url 'index' %}" class="hyperlink-menu-item">Home</a>
        <a href="{% url 'invoice_list' %}">Invoice list</a>
    </div>
    <h2 class="h2-header">Invoice Form</h2>
    <form action="{% url 'invoice_new' %}" id="invoice-form" method="POST">
        {% csrf_token %}
        <div class="doc-type" id="doc-type">
            Invoice
        </div>
        <div class="date-invoice-group">
            <span>
                <span class="invoice-date-header" id="invoice-date-header">Date</span>
                <span class="invoice-number-header">Invoice #</span>
            </span>
            <span>
                <input name="invoice-date" type="date" id="invoice-date-input" class="invoice-date-input">
                <input name="invoice-number" type="text" id="invoice-num-input" class ="invoice-num-input">
            </span>
        </div>
        <div>
            <span class="bill-to">Bill to:</span>
            <span class="make-payment-to">Make payment to:</span>
        </div>
        <div class="company-address-group">
            <div class="company-select-div">
                <textarea id="text-area-company-mailing-address" class="text-area-company-mailing-address" onclick="text_area_company_mailing_address()" readonly></textarea>
                <select name="company-select" id="company-select" class="company-select" onchange="company_selected(this)">
                    <option value="-1">
                        select-company
                    </option>
                    {% for company in company_all %}
                        <option value="{{ company.id }}">
                            {{ company.name }}
                        </option>
                    {% endfor %}
                </select>
                <button type="button" id="change-company-button" class="change-company-button" disabled>change-company</button>
            </div>
        </div>
        <div class="customer-address-group">
            <div class="customer-select-div">
                <textarea id="text-area-customer-mailing-address" class="text-area-customer-mailing-address" onclick="text_area_customer_mailing_address()" readonly>
                </textarea>
                <select name="customer-select" id="customer-select" class="customer-select" onchange="customer_selected(this)">
                    <option value="-1">
                        select-customer
                    </option>
                    {% for customer in customer_all %}
                        <option value="{{ customer.id }}">
                            {{ customer.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        <button type="button" id="change-customer-button" class="change-customer-button" disabled>change-customer</button>
        </div>
        <table id="line-items-table" class="line-items-table">
            <thead>
                <th>PO #</th>
                <th>Item #</th>
                <th>Item Name</th>
                <th>Price Ea</th>
                <th>Qty Ea</th>
                <th>Amount</th>
            </thead>
            <tr>
                <td><input type="text" name="po-num-input-1" id="po-num-input-1" class="po-num-input-1" placeholder="optional"></td>
                <td><select name="item-num-select-1" id="item-num-select-1" class="item-num-select-1" onchange="item_num_selected(this, '1')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.number }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><select name="item-name-select-1" id="item-name-select-1" class="item-name-select-1" onchange="item_name_selected(this, '1')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><span id="dollar-sign-price-ea-1" class="dollar-sign">$</span><input type="text" name="price-ea-input-1" id="price-ea-input-1" class="price-ea-input-1" onclick="price_ea_field_clicked('1')" value="read-only" readonly></td>
                <td><input type="number" min="0" max="1000000000000" name="qty-ea-input-1" id="qty-ea-input-1" class="qty-ea-input-1" step="1" onchange="qty_ea_validation(this, '1')"></td>
                <td><span id="dollar-sign-amount-dollar-input-1" class="dollar-sign">$</span><input type="text" name="amount-dollar-input-1" id="amount-dollar-input-1" class="amount-dollar-input-1" onclick="amount_dollar_field_clicked()" onchange="sum_amount(this)" value="read-only" readonly></td>
            </tr>
            <tr>
                <td><input type="text" name="po-num-input-2" id="po-num-input-2" class="po-num-input-2" placeholder="optional"></td>
                <td><select name="item-num-select-2" id="item-num-select-2" class="item-num-select-2" onchange="item_num_selected(this, '2')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.number }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><select name="item-name-select-2" id="item-name-select-2" class="item-name-select-2" onchange="item_name_selected(this, '2')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><span id="dollar-sign-price-ea-2" class="dollar-sign">$</span><input type="text" name="price-ea-input-2" id="price-ea-input-2" class="price-ea-input-2" onclick="price_ea_field_clicked('2')" value="read-only" readonly></td>
                <td><input type="number" min="0" max="1000000000000" name="qty-ea-input-2" id="qty-ea-input-2" class="qty-ea-input-2" step="1" onchange="qty_ea_validation(this, '2')"></td>
                <td><span id="dollar-sign-amount-dollar-input-2" class="dollar-sign">$</span><input type="text" name="amount-dollar-input-2" id="amount-dollar-input-2" class="amount-dollar-input-2" onclick="amount_dollar_field_clicked()" onchange="sum_amount(this)" value="read-only" readonly></td>
            </tr>
            <tr>
                <td><input type="text" name="po-num-input-3" id="po-num-input-3" class="po-num-input-3" placeholder="optional"></td>
                <td><select name="item-num-select-3" id="item-num-select-3" class="item-num-select-3" onchange="item_num_selected(this, '3')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.number }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><select name="item-name-select-3" id="item-name-select-3" class="item-name-select-3" onchange="item_name_selected(this, '3')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><span id="dollar-sign-price-ea-3" class="dollar-sign">$</span><input type="text" name="price-ea-input-3" id="price-ea-input-3" class="price-ea-input-3" onclick="price_ea_field_clicked('3')" value="read-only" readonly></td>
                <td><input type="number" min="0" max="1000000000000" name="qty-ea-input-3" id="qty-ea-input-3" class="qty-ea-input-3" step="1" onchange="qty_ea_validation(this, '3')"></td>
                <td><span id="dollar-sign-amount-dollar-input-3" class="dollar-sign">$</span><input type="text" name="amount-dollar-input-3" id="amount-dollar-input-3" class="amount-dollar-input-3" onclick="amount_dollar_field_clicked()" onchange="sum_amount(this)" value="read-only" readonly></td>
            </tr>
            <tr>
                <td><input type="text" name="po-num-input-4" id="po-num-input-4" class="po-num-input-4" placeholder="optional"></td>
                <td><select name="item-num-select-4" id="item-num-select-4" class="item-num-select-4" onchange="item_num_selected(this, '4')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.number }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><select name="item-name-select-4" id="item-name-select-4" class="item-name-select-4" onchange="item_name_selected(this, '4')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><span id="dollar-sign-price-ea-4" class="dollar-sign">$</span><input type="text" name="price-ea-input-4" id="price-ea-input-4" class="price-ea-input-4" onclick="price_ea_field_clicked('4')" value="read-only" readonly></td>
                <td><input type="number" min="0" max="1000000000000" name="qty-ea-input-4" id="qty-ea-input-4" class="qty-ea-input-4" step="1" onchange="qty_ea_validation(this, '4')"></td>
                <td><span id="dollar-sign-amount-dollar-input-4" class="dollar-sign">$</span><input type="text" name="amount-dollar-input-4" id="amount-dollar-input-4" class="amount-dollar-input-4" onclick="amount_dollar_field_clicked()" onchange="sum_amount(this)" value="read-only" readonly></td>
            </tr>
            <tr>
                <td><input type="text" name="po-num-input-5" id="po-num-input-5" class="po-num-input-5" placeholder="optional"></td>
                <td><select name="item-num-select-5" id="item-num-select-5" class="item-num-select-5" onchange="item_num_selected(this, '5')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.number }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><select name="item-name-select-5" id="item-name-select-5" class="item-name-select-5" onchange="item_name_selected(this, '5')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><span id="dollar-sign-price-ea-5" class="dollar-sign">$</span><input type="text" name="price-ea-input-5" id="price-ea-input-5" class="price-ea-input-5" onclick="price_ea_field_clicked('5')" value="read-only" readonly></td>
                <td><input type="number" min="0" max="1000000000000" name="qty-ea-input-5" id="qty-ea-input-5" class="qty-ea-input-5" step="1" onchange="qty_ea_validation(this, '5')"></td>
                <td><span id="dollar-sign-amount-dollar-input-5" class="dollar-sign">$</span><input type="text" name="amount-dollar-input-5" id="amount-dollar-input-5" class="amount-dollar-input-5" onclick="amount_dollar_field_clicked()" onchange="sum_amount(this)" value="read-only" readonly></td>
            </tr>
            <tr>
                <td><input type="text" name="po-num-input-6" id="po-num-input-6" class="po-num-input-6"></td>
                <td><select name="item-num-select-6" id="item-num-select-6" class="item-num-select-6" onchange="item_num_selected(this, '5')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.number }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><select name="item-name-select-6" id="item-name-select-6" class="item-name-select-6" onchange="item_name_selected(this, '6')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><span id="dollar-sign-price-ea-6" class="dollar-sign"></span><input type="text" name="price-ea-input-6" id="price-ea-input-6" class="price-ea-input-6" onclick="price_ea_field_clicked('6')" value="read-only" readonly></td>
                <td><input type="text" min="0" max="1000000000000" name="qty-ea-input-6" id="qty-ea-input-6" class="qty-ea-input-6" step="1" value="Subtotal" onchange="qty_ea_validation(this, '6')" readonly></td>
                <td><span id="dollar-sign-sales-amount-input" class="dollar-sign">$</span><input type="text" name="sales-amount-input" id="sales-amount-input" step=".01" class="sales-amount-input" onclick="sales_amount_field_clicked()" value="read-only" readonly></td>
            </tr>
            <tr>
                <td><input type="text" name="po-num-input-7" id="po-num-input-7" class="po-num-input-7"></td>
                <td><select name="item-num-select-7" id="item-num-select-7" class="item-num-select-7" onchange="item_num_selected(this, '7')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.number }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><select name="item-name-select-7" id="item-name-select-7" class="item-name-select-7" onchange="item_name_selected(this, '7')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><span id="dollar-sign-price-ea-7" class="dollar-sign"></span><input type="text" name="price-ea-input-7" id="price-ea-input-7" class="price-ea-input-7" onclick="price_ea_field_clicked('7')" value="read-only" readonly></td>
                <td><input type="text" min="0" max="1000000000000" name="qty-ea-input-7" id="qty-ea-input-7" class="qty-ea-input-7" step="1" value="Freight" onchange="qty_ea_validation(this, '7')" readonly></td>
                <td><span id="dollar-sign-freight-amount-input" class="dollar-sign-freight-amount-input">$</span><input type="text" name="freight-amount-input" id="freight-amount-input" class="freight-amount-input" onchange="freight_amount()"></td>
            </tr>
            <tr>
                <td><input type="text" name="po-num-input-8" id="po-num-input-8" class="po-num-input-8"></td>
                <td><select name="item-num-select-8" id="item-num-select-8" class="item-num-select-8" onchange="item_num_selected(this, '8')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.number }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><select name="item-name-select-8" id="item-name-select-8" class="item-name-select-8" onchange="item_name_selected(this, '8')">
                    <option value="{{ '-1' }}">
                        select-one
                    </option>
                    <option hidden value="{{ '-2' }}">
                    </option>
                    {% for item in item_all %}
                        <option value="{{ item.id }}">
                            {{ item.name }}
                        </option>
                    {% endfor %}
                    </select>
                </td>
                <td><span id="dollar-sign-price-ea-8" class="dollar-sign"></span><input type="text" name="price-ea-input-8" id="price-ea-input-8" class="price-ea-input-8" onclick="price_ea_field_clicked('8')" value="read-only" readonly></td>
                <td><input type="text" min="0" max="1000000000000" name="qty-ea-input-8" id="qty-ea-input-8" class="qty-ea-input-8" step="1" value="Total due" onchange="qty_ea_validation(this, '8')" readonly></td>
                <td><span id="dollar-sign-total-due-input" class="dollar-sign">$</span><input type="text" name="invoice-total" name="total-due-input" id="total-due-input" class="total-due-input" step=".01" onclick="total_due_field_clicked()" value="read-only" readonly></td>
            </tr>
        </table>
        <p class="save-form-button-paragraph">
            <button type="button" id="save-button" class="save-form-button" onclick="validate_form()">Save invoice</button>
        </p>
    </form>
    <div id="message-div" class="message-div">{{ message }}</div>
    <script type="text/javascript">
        var js_json_company_all = JSON.parse('{{ json_company_all | safe }}');
        var js_json_customer_all = JSON.parse('{{ json_customer_all | safe }}');
        var js_json_customer_pricing_all = JSON.parse('{{ json_customer_pricing_all | safe }}');
        var js_json_item_all = JSON.parse('{{ json_item_all | safe }}');
        var customerSelectedPk = "-1";
        document.getElementById("text-area-company-mailing-address").innerHTML = "\n" + "                    read-only";
        document.getElementById("text-area-customer-mailing-address").innerHTML = "\n" + "                   read-only";
        document.documentElement.addEventListener('click', clear_message);
        function clear_message(){
            document.getElementById("message-div").innerHTML = ""
        }
        function validate_form(){
            if(document.getElementById("invoice-num-input").value == ""){
                alert("Enter the Invoice #");
                event.preventDefault();
                return;
            }
            else if(document.getElementById("customer-select").value == "-1"){
                alert("Select a customer");
                event.preventDefault();
                return;
            }
            else if(document.getElementById("company-select").value == "-1"){
                alert("Select a company");
                event.preventDefault();
                return;
            }
            var ctr = 0;
            for(i=1; i<=5; i++){
                if(document.getElementById("po-num-input-" + i).value == "" && document.getElementById("item-num-select-" + i).value == "-1" && document.getElementById("qty-ea-input-" + i).value == ""){
                    ctr = ctr + 1;
                }
            }         
            if(ctr == 5){
                alert("Fill out a row before saving the invoice")
                event.preventDefault();
                return;
            }
            for(i=1; i<=5; i++){
                if(document.getElementById("po-num-input-" + i).value != "" && (document.getElementById("item-num-select-" + i).value == "-1" || document.getElementById("qty-ea-input-" + i).value == "")){
                    alert("Please fill out the rest of row " + i + " or delete the PO #");
                    event.preventDefault();
                    return;
                }
            }
            for(i=1; i<=5; i++){
                if(document.getElementById("qty-ea-input-" + i).value == "" && document.getElementById("item-num-select-" + i).value != "-1"){
                    alert("Please fill out a Qty Ea value for row "+ i + " or remove the Item # / Item Name for that row");
                    event.preventDefault();
                    return;
                }
            }
            for(i=1; i<=5; i++){
                if(document.getElementById("item-num-select-" + i).value != "-1" && document.getElementById("item-num-select-" + i).value != "-2" && document.getElementById("qty-ea-input-" + i).value == "read-only"){
                    alert("Enter the Qty Ea for row " + i);
                    event.preventDefault();
                    return;
                }
            }
            if (document.getElementById("freight-amount-input").value == ""){
                alert("Enter the Freight Amount");
                event.preventDefault();
                return;
            }
            for(i=1; i<=5; i++){
                if(document.getElementById("item-num-select-" + i).value == "-1"){
                    document.getElementById("item-num-select-" + i).value = "-2";
                }
                if(document.getElementById("item-name-select-" + i).value == "-1"){
                    document.getElementById("item-name-select-" + i).value = "-2";
                }
                if(document.getElementById("price-ea-input-" + i).value == "read-only"){
                    document.getElementById("price-ea-input-" + i).value = "";
                    document.getElementById("dollar-sign-price-ea-" + i).innerHTML = "";
                }
                if(document.getElementById("amount-dollar-input-" + i).value == "read-only"){
                    document.getElementById("amount-dollar-input-" + i).value = "";
                    document.getElementById("dollar-sign-amount-dollar-input-" + i).innerHTML = "";
                }
                document.getElementById("dollar-sign-price-ea-" + i).style.color = "black";
                document.getElementById("dollar-sign-amount-dollar-input-" + i).style.color = "black";
                document.getElementById("price-ea-input-" + i).style.color = "black";
                document.getElementById("amount-dollar-input-" + i).style.color = "black";
            }
            if(document.getElementById("sales-amount-input").value == "read-only"){
                    document.getElementById("sales-amount-input").value = "";
                }
            for(i=1; i<=5; i++){
                document.getElementById("po-num-input-" + i).placeholder="";
            }
            print();
            document.getElementById("change-customer-button").disabled;
            document.getElementById("customer-select").disabled = false;
            let form = document.getElementById("invoice-form");
            form.submit();
        }
        function text_area_customer_mailing_address(){
            alert("Address area is read only");
        }
        function text_area_company_mailing_address(){
            alert("Address area is read only");
        }
        const changeCustomerButton = document.getElementById("change-customer-button");
        changeCustomerButton.addEventListener("click", showSelectCustomer);
        function showSelectCustomer(){
            document.getElementById("customer-select").value = "-1";
            document.getElementById("customer-select").disabled = false;
            document.getElementById("customer-select").style.opacity = "1";
            document.getElementById("change-customer-button").style.zIndex = "0";
            document.getElementById("change-customer-button").style.opacity = "0";
            document.getElementById("change-customer-button").disabled;
            customer_selected("-1");
        }
        const changeCompanyButton = document.getElementById("change-company-button");
        changeCompanyButton.addEventListener("click", showSelectCompany);
        function showSelectCompany(){
            document.getElementById("company-select").value = "-1";
            document.getElementById("company-select").disabled = false;
            document.getElementById("company-select").style.opacity = "1";
            document.getElementById("change-company-button").style.zIndex = "0";
            document.getElementById("change-company-button").style.opacity = "0";
            document.getElementById("change-company-button").disabled;
            company_selected("-1");
        }
        function company_selected(companySelectObject){
            var companyAddressComplete = "";
            if (companySelectObject.value == "-1" || companySelectObject == "-1"){
                companyAddressComplete = "\n" + "                   read-only";
            }
            else {
                for (i=0; i<js_json_company_all.length; i++){
                    if (js_json_company_all[i].pk == companySelectObject.value){
                        companyAddressComplete = js_json_company_all[i].fields.name + "\n";
                        companyAddressComplete = companyAddressComplete + js_json_company_all[i].fields.address + "\n";
                        companyAddressComplete = companyAddressComplete + js_json_company_all[i].fields.city + " ";
                        companyAddressComplete = companyAddressComplete + js_json_company_all[i].fields.state + " ";
                        companyAddressComplete = companyAddressComplete + js_json_company_all[i].fields.zip_code + "\n";
                        companyAddressComplete = companyAddressComplete + js_json_company_all[i].fields.tel;  
                    }
                }
                document.getElementById("company-select").style.opacity = "0";
                document.getElementById("company-select").disabled="true";
                document.getElementById("change-company-button").removeAttribute("disabled");
                document.getElementById("change-company-button").style.opacity = "1";
                document.getElementById("change-company-button").style.zIndex = "2";
            }
            document.getElementById("text-area-company-mailing-address").innerHTML = companyAddressComplete;
        }
        function customer_selected(customerSelectObject){
            var customerAddressComplete = "";
            if (customerSelectObject.value == "-1" || customerSelectObject == "-1"){
                    customerAddressComplete = "\n" + "                   read-only";
            }
            else {
                for (i=0; i<js_json_customer_all.length; i++){
                    if (js_json_customer_all[i].pk == customerSelectObject.value){
                        customerAddressComplete = js_json_customer_all[i].fields.name + "\n";
                        customerAddressComplete = customerAddressComplete + js_json_customer_all[i].fields.address + "\n";
                        customerAddressComplete = customerAddressComplete + js_json_customer_all[i].fields.city + " ";
                        customerAddressComplete = customerAddressComplete + js_json_customer_all[i].fields.state + " ";
                        customerAddressComplete = customerAddressComplete + js_json_customer_all[i].fields.zip_code;  
                        customerSelectedPk=(js_json_customer_all[i].pk);
                    }
                }
                document.getElementById("customer-select").style.opacity = "0";
                document.getElementById("customer-select").disabled = true;
                document.getElementById("change-customer-button").removeAttribute("disabled");
                document.getElementById("change-customer-button").style.opacity = "1.0";
                document.getElementById("change-customer-button").style.zIndex = "2";
            }
            document.getElementById("text-area-customer-mailing-address").innerHTML = customerAddressComplete;
            for (i=1; i<=5; i++){
                document.getElementById("po-num-input-" + i).value = "";
                document.getElementById("item-num-select-" + i).value = "-1";
                document.getElementById("item-name-select-" + i).value = "-1";
                document.getElementById("qty-ea-input-" + i).value = "";
                document.getElementById("price-ea-input-" + i).value = "read-only";
                document.getElementById("amount-dollar-input-" + i).value = "read-only";
                document.getElementById("item-num-select-" + i).style.background = "rgb(255,216,20)";
                document.getElementById("item-name-select-" + i).style.background = "rgb(255,216,20)";
            }
            sum_amount();
        }
        function item_num_selected(itemNumSelectObject, rowSelected){
            if (document.getElementById("customer-select").value == "-1"){
                itemNumSelectObject.value = "-1";
                alert("Select the customer first");
                return;
            }
            if (document.getElementById(itemNumSelectObject.name).value == "-1"){
                document.getElementById(itemNumSelectObject.name).style.backgroundColor = "rgb(255,216,20)";
                document.getElementById("item-name-select-" + rowSelected).style.backgroundColor = "rgb(255,216,20)";
                document.getElementById("item-name-select-" + rowSelected).value = "-1";
                document.getElementById("price-ea-input-" + rowSelected).value = "read-only";
                document.getElementById("qty-ea-input-" + rowSelected).value = "read-only";
                document.getElementById("amount-dollar-input-" + rowSelected).value = "read-only";
                sum_amount();
            }
            else{
                var match = "N";
                for (i=0; i<js_json_customer_pricing_all.length; i++){
                    if ((js_json_customer_pricing_all[i].fields.customer_id == customerSelectedPk) && (js_json_customer_pricing_all[i].fields.item_id == itemNumSelectObject.value)){
                        document.getElementById("price-ea-input-" + rowSelected).value = js_json_customer_pricing_all[i].fields.customer_pricing;
                        document.getElementById("item-name-select-" + rowSelected).value = itemNumSelectObject.value;
                        document.getElementById(itemNumSelectObject.name).style.background = "rgb(251,247,240)";
                        document.getElementById("item-name-select-" + rowSelected).style.background = "rgb(251,247,240)";
                        match = "Y";
                        break;
                    }
                }
                if(match == "N"){
                    document.getElementById("item-name-select-" + rowSelected).value = "-1";
                    document.getElementById("item-num-select-" + rowSelected).value = "-1";
                    document.getElementById("qty-ea-input-" + rowSelected).value = "";
                    document.getElementById("price-ea-input-" + rowSelected).value = "read-only";
                    document.getElementById("amount-dollar-input-" + rowSelected).value = "read-only";
                    alert("Please create customer pricing for this item");
                }
            }
        }
        function item_name_selected(itemNameSelectObject, rowSelected){
            if (document.getElementById("customer-select").value == "-1"){
                itemNameSelectObject.value = "-1";
                alert("Select the company first");
                return;
            }
            if (document.getElementById(itemNameSelectObject.name).value == "-1"){
                document.getElementById(itemNameSelectObject.name).style.backgroundColor = "rgb(255,216,20)";
                document.getElementById("item-num-select-" + rowSelected).style.backgroundColor = "rgb(255,216,20)";
                document.getElementById("item-num-select-" + rowSelected).value = "-1";
                document.getElementById("qty-ea-input-" + rowSelected).value = "";
                document.getElementById("price-ea-input-" + rowSelected).value = "read-only";
                document.getElementById("amount-dollar-input-" + rowSelected).value = "read-only";
                sum_amount();
            }
            else{
                var match = "N";
                for (i=0; i<js_json_customer_pricing_all.length; i++){
                    if (js_json_customer_pricing_all[i].fields.customer_id == customerSelectedPk && js_json_customer_pricing_all[i].fields.item_id == itemNameSelectObject.value){
                        document.getElementById("price-ea-input-" + rowSelected).value = js_json_customer_pricing_all[i].fields.customer_pricing;
                        document.getElementById("item-num-select-" + rowSelected).value = itemNameSelectObject.value;
                        document.getElementById(itemNameSelectObject.name).style.background = "rgb(251,247,240)";
                        document.getElementById("item-num-select-" + rowSelected).style.backgroundColor = "rgb(251,247,240)";
                        match = "Y";
                        break;
                    }
                }
                if(match == "N"){
                    document.getElementById("item-name-select-" + rowSelected).value = "-1";
                    document.getElementById("item-num-select-" + rowSelected).value = "-1";
                    document.getElementById("qty-ea-input-" + rowSelected).value = "";
                    document.getElementById("price-ea-input-" + rowSelected).value = "read-only";
                    document.getElementById("amount-dollar-input-" + rowSelected).value = "read-only";
                    alert("Please create customer pricing for this item");
                }
            }
        }
        var date = new Date();
        var day = date.getDate();
        var month = date.getMonth() + 1;
        var year = date.getFullYear();
        if (month < 10) month = "0" + month;
        if (day < 10) day = "0" + day;
        var today = year + "-" + month + "-" + day;       
        document.getElementById("invoice-date-input").value = today;
        function sum_amount(){
            // var totSalesAmount = Number(0.00).toFixed(2)
            var totSalesAmount = 0.00
            for(i = 1; i<=5; i++){
                if (!isNaN(Number(document.getElementById("amount-dollar-input-" + i).value))){
                totSalesAmount = Number(totSalesAmount) + Number(document.getElementById("amount-dollar-input-" + i).value);
                }
            }
            document.getElementById("sales-amount-input").value = Number(totSalesAmount).toFixed(2)
            if(document.getElementById("sales-amount-input").value == "0.00"){
                document.getElementById("sales-amount-input").value = "read-only";
            }
            total_due();
        }
        function qty_ea_validation(amountQtyEaInput, rowSelected){
            if (document.getElementById("price-ea-input-" + rowSelected).value == "read-only") {
                amountQtyEaInput.value = "";
                alert("Select an Item # or Item Name before entering Qty Ea");
            }
            else if(amountQtyEaInput.value - Math.floor(amountQtyEaInput.value) !== 0){
                amountQtyEaInput.value = "";
                alert("Only whole numbers allowed in Qty Ea field");    
            }
            else if(amountQtyEaInput.value == 0){
                amountQtyEaInput.value = "";
                document.getElementById("amount-dollar-input-" + rowSelected).value = "Read only";
                sum_amount();
            }
            else{
                amountQtyEaInput.value = Number(amountQtyEaInput.value).toFixed(0);
                document.getElementById("amount-dollar-input-" + rowSelected).value = Number(amountQtyEaInput.value * document.getElementById("price-ea-input-" + rowSelected).value).toFixed(2);
                sum_amount();
            }
        }
        function price_ea_field_clicked(rowSelected){
            if (document.getElementById("item-num-select-" + rowSelected).value == ""){
                alert("Select an Item # or Item Name to get pricing.");
            }
            else{
                alert("This field is readonly");
            }
        }
        function sales_amount_field_clicked(){
            alert("This field is readonly");
        }
        function total_due_field_clicked(){
            alert("This field is readonly");
        }
        function amount_dollar_field_clicked(){
            alert("This field is readonly");
        }
        function freight_amount(){
            if (!isNaN(Number(document.getElementById("freight-amount-input").value))){
                document.getElementById("freight-amount-input").value = Number(document.getElementById("freight-amount-input").value).toFixed(2);
            }
            total_due();
        }
        function total_due(){
            var totalDue = 0.00;
            if (!isNaN(Number(document.getElementById("sales-amount-input").value))){
                totalDue = Number(document.getElementById("sales-amount-input").value);
                document.getElementById("total-due-input").value = Number(totalDue).toFixed(2);
            }
            else{
                document.getElementById("total-due-input").value = "read-only";
            }
            if (!isNaN(Number(document.getElementById("freight-amount-input").value)) && Number(document.getElementById("freight-amount-input").value)!==0){
                    document.getElementById("freight-amount-input").value = Number(document.getElementById("freight-amount-input").value).toFixed(2);
                    totalDue = totalDue + Number(document.getElementById("freight-amount-input").value);
                    document.getElementById("total-due-input").value = totalDue.toFixed(2);
            }
        }
    </script>
</body>
</html>