{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'company_manager/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu-hyperlink-format">
        <a href="{% url 'index' %}" class="hyperlink-menu-item">Home</a>
        <a href="{% url 'company_new' %}">Customer new</a>
    </div>
    <h2>
        Company List
    </h2>
    <div>
        <table>
            <thead>
                <th>Company name</th>
                <th>Company id</th>
            </thead>
            {% for company in company_all %}
            <tr>
                <td><a href="{% url 'company_view' company.id %}">{{ company.name }}</a></td>
                <td><a href="{% url 'company_view' company.id %}">{{ company.id }}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>