{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'company_manager/style.css' %}?v={{ now }}">
    <title>Document</title>
</head>
<body onload="initialize_data()">
    <div id="menu-div" class="menu-hyperlink-format">
        <a id="home-clicked" href="#" onclick = "return false" class="hyperlink-menu-item-home hyperlink-menu-item">Home</a>
        <a id="company-list-clicked" href="#" onclick = "return false" class="hyperlink-menu-item">Company list</a>
    </div>
    <h2>
        New Company Form
    </h2>
    <form action="#" id="company-form" method="POST">
        {% csrf_token %}
        <div class="rect">
            <div class="content">
                <div>
                    <label>
                        Name
                        <input type="text" name="company_name" id="company-name" class="company-name" onblur="company_name_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>
                        Address
                        <input type="text" name="company_address" id="company-address" class="company-address" onblur="company_address_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>
                        City
                        <input type="text" name="company_city" id="company-city" class="company-city" onblur="company_city_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>
                        State
                        <input type="text" name="company_state" id="company-state" class="company-state" onblur="company_state_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>Zip Code
                        <input type="text" name="company_zip_code" id="company-zip-code" class="company-zip-code" onblur="company_zip_code_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>
                        Country
                        <input type="text" name="company_country" id="company-country" class="company-country" onblur="company_country_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>Telephone #
                        <input type="text" name="company_tel" id="company-tel" class="company-tel" onblur="company_tel_input()" placeholder="required" required />
                    </label>
                </div>
            </div> 
            <div class="right-border" id="right-border">
                <span class="bracket-span left-brace-tl"></span>
                <span class="bracket-span left-brace-tr"></span><br />
                <span class="bracket-span left-brace-bl"></span>
                <span class="bracket-span left-brace-br"></span>
            </div>
        </div>
        <p>
            <button type="button" id="create-company-button" class="create-company-button" onclick="validate_form()">Create Company</button>
        </p>
        {{ message }}
    </form>
    <p class="wiz-status" id="wiz-status">{{ wizStatus }}</p>
    <div class="company-new-step-3-instruction-div" id="company-new-step-3-instruction-div">
        <p class="company-new-step-3-instruction-title"><span class="company-new-step-3-left-arrow">&#8592;</span>Click the Company list link to see the last Company created</p>
    </div>
    <div class="company-new-step-1-instruction-div" id="company-new-step-1-instruction-div">
        <p class="company-new-step-1-instruction-title">Step 1: Fill in the required fields</p>
    </div>
    <div class="company-new-step-2-instruction-div" id="company-new-step-2-instruction-div">
        <p class="company-new-step-2-instruction-title"><span class="company-new-step-2-left-arrow">&#8592;</span>Step 2: Click the Create Company button</p>
    </div>
    <script type="text/javascript">
        var jsWizStatus = document.getElementById("wiz-status").innerHTML
        document.getElementById("menu-div").addEventListener("click", function(e){
            if(e.target.id == "home-clicked" && jsWizStatus == 1){
                window.open("/home/index/1/", "_top")
            }
            else if(e.target.id == "company-list-clicked" && jsWizStatus == 1){
                window.open("/company_manager/company_list/1/", "_top", "_top")
            }
            else if(e.target.id == "company-list-clicked" && jsWizStatus==3){
                window.open("/company_manager/company_list/2/", "_top")

            }
        })
        function initialize_data(){
            document.getElementById("company-name").focus();
            if(jsWizStatus == 2){
                document.getElementById("company-new-step-1-instruction-div").style.visibility = "inherit"
                document.getElementById("company-new-step-1-instruction-div").style.visibility = "true"
                document.getElementById("company-new-step-2-instruction-div").style.visibility = "inherit"
                document.getElementById("company-new-step-2-instruction-div").style.visibility = "true"
                document.getElementById("right-border").style.visibility = "inherit"
                document.getElementById("right-border").style.visibility = "true"
            }
            else if(jsWizStatus == 3){
                document.getElementById("company-new-step-3-instruction-div").style.visibility = "inherit"
                document.getElementById("company-new-step-3-instruction-div").style.visibility = "true"
                document.getElementById("create-company-button").disabled = "true"
            }
        }
        //Go to next field when Enter key is pressed
        document.addEventListener("keypress", function(event){
        whichKeyDown = event.which;
        if(whichKeyDown == 13 && document.getElementById("create-company-button").className != document.activeElement.className){
            if(document.activeElement.className == ""){
                document.getElementById("company-name").focus();
            }
            else if(document.getElementById("company-name").className == document.activeElement.className){
                document.getElementById("company-address").focus();
            }
            else if(document.getElementById("company-address").className == document.activeElement.className){
                document.getElementById("company-city").focus();
            }
            else if(document.getElementById("company-city").className == document.activeElement.className){
                document.getElementById("company-state").focus();
            }
            else if(document.getElementById("company-state").className == document.activeElement.className){
                document.getElementById("company-zip-code").focus();
            }
            else if(document.getElementById("company-zip-code").className == document.activeElement.className){
                document.getElementById("company-country").focus();
            }
            else if(document.getElementById("company-country").className == document.activeElement.className){
                document.getElementById("company-tel").focus();
            }
            else if(document.getElementById("company-tel").className == document.activeElement.className){
                document.getElementById("create-company-button").focus();
            }
        }  
        })
        function company_name_input(){
            if((document.getElementById("company-name").value != "")){
            if((document.getElementById("company-name").value).includes("'") || (document.getElementById("company-name").value).includes('"')){
                    alert("Apostrophes not allowed in Name field")
                    window.setTimeout(function () { document.getElementById("company-name").focus(); }, 0)
                    return
                }
            else if(document.getElementById("company-name").value.trim() == "" && document.getElementById("company-name").value != ""){
                alert("Field must contain more than only blank spaces")
                document.getElementById("company-name").value = ""
                window.setTimeout(function () { document.getElementById("company-name").focus(); }, 0)
                return
            }
            }
        }
        function company_address_input(){
            if((document.getElementById("company-address").value != "")){
            if((document.getElementById("company-address").value).includes("'") || (document.getElementById("company-address").value).includes('"')){
                    alert("Apostrophes not allowed in Address field")
                    window.setTimeout(function () { document.getElementById("company-address").focus(); }, 0)
                    return
                }
            else if(document.getElementById("company-address").value.trim() == "" && document.getElementById("company-address").value != ""){
                alert("Field must contain more than only blank spaces")
                document.getElementById("company-address").value = ""
                window.setTimeout(function () { document.getElementById("company-address").focus(); }, 0)
                return
            }
            }
        }
        function company_city_input(){
            if((document.getElementById("company-city").value != "")){
            if((document.getElementById("company-city").value).includes("'") || (document.getElementById("company-city").value).includes('"')){
                    alert("Apostrophes not allowed in City field")
                    window.setTimeout(function () { document.getElementById("company-city").focus(); }, 0)
                    return
                }
             else if(document.getElementById("company-city").value.trim() == "" && document.getElementById("company-city").value != ""){
                alert("Field must contain more than only blank spaces")
                document.getElementById("company-city").value = ""
                window.setTimeout(function () { document.getElementById("company-city").focus(); }, 0)
                return
            }
            }
        }
        function company_state_input(){
            if((document.getElementById("company-state").value != "")){
            if((document.getElementById("company-state").value).includes("'") || (document.getElementById("company-state").value).includes('"')){
                    alert("Apostrophes not allowed in State field")
                    window.setTimeout(function () { document.getElementById("company-state").focus(); }, 0)
                    return
                }
             else if(document.getElementById("company-state").value.trim() == "" && document.getElementById("company-state").value != ""){
                alert("Field must contain more than only blank spaces")
                document.getElementById("company-state").value = ""
                window.setTimeout(function () { document.getElementById("company-state").focus(); }, 0)
                return
            }
            }
        }
        function company_country_input(){
            if((document.getElementById("company-country").value != "")){
            if((document.getElementById("company-country").value).includes("'") || (document.getElementById("company-country").value).includes('"')){
                    alert("Apostrophes not allowed in Country field")
                    window.setTimeout(function () { document.getElementById("company-country").focus(); }, 0)
                    return
                }
             else if(document.getElementById("company-country").value.trim() == "" && document.getElementById("company-country").value != ""){
                alert("Field must contain more than only blank spaces")
                document.getElementById("company-country").value = ""
                window.setTimeout(function () { document.getElementById("company-country").focus(); }, 0)
                return
            }
            }
        }
        function company_zip_code_input(){
            if((document.getElementById("company-zip-code").value != "")){
            if((document.getElementById("company-zip-code").value).includes("'") || (document.getElementById("company-zip-code").value).includes('"')){
                    alert("Apostrophes not allowed in Zip Code field")
                    window.setTimeout(function () { document.getElementById("company-zip-code").focus(); }, 0)
                    return
                }
            else if(document.getElementById("company-zip-code").value.trim() == "" && document.getElementById("company-zip-code").value != ""){
                alert("Field must contain more than only blank spaces")
                document.getElementById("company-zip-code").value = ""
                window.setTimeout(function () { document.getElementById("company-zip-code").focus(); }, 0)
                return
            }
            }
        }
        function company_tel_input(){
            if((document.getElementById("company-tel").value != "")){
            if((document.getElementById("company-tel").value).includes("'") || (document.getElementById("company-tel").value).includes('"')){
                    alert("Apostrophes not allowed in Telephone # field")
                    window.setTimeout(function () { document.getElementById("company-tel").focus(); }, 0)
                    return
            }
            else if(document.getElementById("company-tel").value.trim() == "" && document.getElementById("company-tel").value != ""){
                alert("Field must contain more than only blank spaces")
                document.getElementById("company-tel").value = ""
                window.setTimeout(function () { document.getElementById("company-tel").focus(); }, 0)
                return
            }
            }
        }
        function validate_form(){
            if((document.getElementById("company-name").value.trim() == "")){
                alert("Enter the Company Name.  Only spaces not allowed")
                document.getElementById("company-name").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("company-name").value = document.getElementById("company-name").value.trim()
            }
            if((document.getElementById("company-address").value.trim() == "")){
                alert("Enter the Company Address.  Only spaces not allowed")
                document.getElementById("company-address").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("company-address").value = document.getElementById("company-address").value.trim()
            }
            if((document.getElementById("company-city").value.trim() == "")){
                alert("Enter the Company City.  Only spaces not allowed")
                document.getElementById("company-city").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("company-city").value = document.getElementById("company-city").value.trim()
            }
            if((document.getElementById("company-state").value.trim() == "")){
                alert("Enter the Company State.  Only spaces not allowed")
                document.getElementById("company-state").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("company-state").value = document.getElementById("company-state").value.trim()
            }
            if((document.getElementById("company-zip-code").value.trim() == "")){
                alert("Enter the Company Zip Code.  Only spaces not allowed")
                document.getElementById("company-zip-code").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("company-zip-code").value = document.getElementById("company-zip-code").value.trim()
            }
            if((document.getElementById("company-country").value.trim() == "")){
                alert("Enter the Company Country.  Only spaces not allowed")
                document.getElementById("company-country").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("company-country").value = document.getElementById("company-country").value.trim()
            }
            if((document.getElementById("company-tel").value.trim() == "")){
                alert("Enter the Company Telephone #.  Only spaces not allowed")
                document.getElementById("company-tel").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("company-tel").value = document.getElementById("company-tel").value.trim()
            }
            let form = document.getElementById("company-form");
            if(jsWizStatus == 1){
                document.getElementById("company-form").action = "/company_manager/company_new/1/"
            }
            else if(jsWizStatus == 2){
                document.getElementById("company-form").action = "/company_manager/company_new/3/"
            }
            form.submit();
        }
    </script>
</body>
</html>