{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'company_manager/style.css' %}?v={{ now }}">
    <title>Document</title>
</head>
<body onload="initialize_data()">
    <div class="menu-hyperlink-format" id="menu-div">
        <a id="home-clicked" href= # class="hyperlink-menu-item-home  hyperlink-menu-item" onclick = "return false">Home</a>
        <a id="company-list-clicked" href= # class="hyperlink-menu-item" onclick = "return false">Company list</a>
    </div>
    <h2>Company Info</h2>
    <div>
        <label class="output-label">Company id: </label>
        <span class="company-view-output">
            {{ company_single.id }}
        </span>
    </div>
    <div>
        <label class="output-label">Company name: </label>
        <span class="company-view-output">
            <label>{{ company_single.name }}</label>
        </span>
    </div>
    <div>
        <label class="output-label">Company address: </label>
        <span class="company-view-output">
            <label>{{ company_single.address }}</label>
        </span>
    </div>
    <div>
        <label class="output-label">Company city: </label>
        <span class="company-view-output">
            <label>{{ company_single.city }}</label>
        </span>
    </div>
    <div>
        <label class="output-label">Company state: </label>
        <span class="company-view-output">
            <label>{{ company_single.state }}</label>
        </span>
    </div>
    <div>
        <label class="output-label">Company country: </label>
        <span class="company-view-output">
            <label>{{ company_single.country }}</label>
        </span>
    </div>
    <div>
        <label class="output-label">Company zip code: </label>
        <span class="company-view-output">
            <label>{{ company_single.zip_code }}</label>
        </span>
    </div>
    <div>
        <label class="output-label">Company telephone #: </label>
        <span class="company-view-output">
            <label>{{ company_single.tel }}</label>
        </span>
    </div>
    <div class="company-single-step-1-instruction-div" id="company-single-step-1-instruction-div">
        <p class="company-single-step-1-instruction-title"><span class="company-single-step-1-left-arrow">&#8593;</span>Click the Home link</p>
    </div>
    <p class="wiz-status" id="wiz-status">{{ wizStatus }}</p>
</body>
<script type="text/javascript">
    var jsWizStatus = document.getElementById("wiz-status").innerHTML
    function initialize_data(){
        if(jsWizStatus == 2){
            document.getElementById("company-single-step-1-instruction-div").style.visibility = "inherit"
            document.getElementById("company-single-step-1-instruction-div").style.visibility = "true"
        }
    }
    document.getElementById("menu-div").addEventListener("click", function(e){
        if(e.target.id == "home-clicked" && jsWizStatus == 1){
            window.open("/home/index/1/", "_top")
        }
        else if(e.target.id == "home-clicked" && jsWizStatus == 2){
            window.open("/home/index/3/", "_top")
        }
        else if(e.target.id == "company-list-clicked" && jsWizStatus==1){
            window.open("/company_manager/company_list/1/", "_top")
        }
    })
</script>
</html>