{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'company_manager/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu-hyperlink-format">
        <h3>Home<h3>
    </div>
    <a href="{% url 'index' %}" class="hyperlink-menu-item">Company Options</a>
    <ul>
        <li><a url href="{% url 'company_new' %}">Company New - Create a new company</a></li>
        <li><a href="{% url 'company_list' %}">Company list - List all the companies</a></li>
    </ul>
</body>
</html>