{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer_pricing_manager/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu-hyperlink-format">
        <a href="{% url 'index' %}" class="hyperlink-menu-item">Home</a>
        <a href="{% url 'customer_pricing_new' %}">Customer pricing new</a>
    </div>
    <h2>Customer Pricing List</h2>
    <table>
        <thead>
            <th>Pricing id</th>
            <th>Customer Name</th>
            <th>Item</th>
            <th>Price</th>
        </thead>
        {% for pricing in customer_pricing_all %}
        <tr>
            <td><a href="{% url 'customer_pricing_view' pricing.id %}">{{ pricing.id }}</a></td>
            <td><a href="{% url 'customer_pricing_view' pricing.id %}">{{ pricing.customer_id.name }}</a></td>
            <td><a href="{% url 'customer_pricing_view' pricing.id %}">{{ pricing.item_id.name }}</a></td>
            <td><a href="{% url 'customer_pricing_view' pricing.id %}">{{ pricing.customer_pricing }}</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>