{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer_pricing_manager/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu-hyperlink-format">
        <a href="{% url 'index' %}" class="hyperlink-menu-item">Home</a>
        <a href="{% url 'customer_pricing_list' %}">Customer pricing list</a>
    </div>
    <h2>Customer Pricing</h2>
    <form action="{% url 'customer_pricing_new' %}" id="customer-pricing-form" method="POST">
        {% csrf_token %}
        <div class="customer-pricing-div">
            <label>
             Customer:
                <div>
                <select name="customer_id" id="customer-name-select">
                    <option value="-1">
                        --Select one--
                    </option>
                {% for customer in customers_all %}
                    <option option value="{{ customer.id }}">
                        {{ customer.name }}
                    </option>
                {% endfor %}
                </select>
            </div>
            </label>
        </div>
        <div class="customer-pricing-div">
            <label>
                Item:
                <div>
                <select name="item_id" id="item-name-select">
                    <option value="-1">
                        --Select one--
                    </option>
                {% for item in items_all %}
                    <option option value="{{ item.id }}">
                        {{ item.name }}
                    </option>
                {% endfor %}
                </select>
                </div>
            </label>
        </div>
        <div>
            <label>
                Customer Price (USD)
                <input type="number" name="customer_pricing" id="customer-pricing" step=.01 onchange="customer_pricing_input()" required />
            </label>
        </div>
        <button type="button" class="create-customer-pricing-button" onclick="validate_form()">Create pricing</button>
    </form>
    {{ message }}
    <script>
        function customer_pricing_input(){
            customerPricing = Number(document.getElementById("customer-pricing").value) + Number(document.getElementById("customer-pricing").value) * Number.EPSILON;
            customerPricing = customerPricing.toFixed(2);
            document.getElementById("customer-pricing").value = customerPricing;
        }
        function validate_form(){
            if(document.getElementById("customer-name-select").value == "-1"){
                alert("Select a Customer");
                event.preventDefault();
                return;
            }
            else if(document.getElementById("item-name-select").value == "-1"){
                alert("Select and Item");
                event.preventDefault();
                return;
            }
            else if(document.getElementById("customer-pricing").value == "") {
                alert("Enter customer pricing");
                event.preventDefault();
                return;
            }
            else{
                let form = document.getElementById("customer-pricing-form");
                form.submit();
            }
        }
    </script>
</body>
</html>