{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer_pricing_manager/style.css' %}?v={{ now }}">
    <title>Document</title>
</head>
<body onload="initialize_data()")>
    <div id="menu-div" class="menu-hyperlink-format">
        <a id="home-clicked" href="#" onclick = "return false" class="hyperlink-menu-item-home hyperlink-menu-item">Home</a>
        <a id="customer-pricing-list-clicked" href="#" onclick = "return false" class="hyperlink-menu-item">Customer pricing list</a>
    </div>
    <h2>Customer Pricing</h2>
    <form action="#" id="customer-pricing-new-form" method="POST">
        {% csrf_token %}
        <div class="rect">
            <div class="content">
                <div class="customer-pricing-div">
                    <label>
                    Customer
                        <div>
                        <select name="customer_id" id="customer-name-select" class="customer-name-select">
                            <option value="-1">
                                select one
                            </option>
                        {% for customer in customers_all %}
                            <option option value="{{ customer.id }}">
                                {{ customer.name }}
                            </option>
                        {% endfor %}
                        </select>
                    </div>
                    </label>
                </div>
                <div class="customer-pricing-div">
                    <label>
                        Item
                        <div>
                        <select name="item_id" id="item-name-select" class="item-name-select">
                            <option value="-1">
                                select one
                            </option>
                        {% for item in items_all %}
                            <option option value="{{ item.id }}">
                                {{ item.name }}
                            </option>
                        {% endfor %}
                        </select>
                        </div>
                    </label>
                </div>
                <div>
                    <label>
                        Customer Price (USD)
                        <input type="text" name="customer_pricing" maxlength="17" id="customer-pricing" class="customer-pricing" onblur="customer_pricing_input()" placeholder="required" required />
                    </label>
                </div>
            </div>
            <div class="right-border" id="right-border">
                <span class="bracket-span left-brace-tl"></span>
                <span class="bracket-span left-brace-tr"></span><br />
                <span class="bracket-span left-brace-bl"></span>
                <span class="bracket-span left-brace-br"></span>
            </div>
        </div>
        <p>
            <button type="button" class="create-customer-pricing-button" id="create-customer-pricing-button" onclick="validate_form()">Create pricing</button>
        </p>
        {{ message }}
    </form>
    <p class="wiz-status" id="wiz-status">{{ wizStatus }}</p>
    <div class="customer-pricing-new-step-3-instruction-div" id="customer-pricing-new-step-3-instruction-div">
        <p class="customer-pricing-new-step-3-instruction-title"><span class="customer-pricing-new-step-3-left-arrow">&#8592;</span>Click Customer pricing list link to see the customer pricing you created</p>
    </div>
    <div class="customer-pricing-new-step-1-instruction-div" id="customer-pricing-new-step-1-instruction-div">
        <p class="customer-pricing-new-step-1-instruction-title">Step 1: Fill in the required fields</p>
    </div>
    <div class="customer-pricing-new-step-2-instruction-div" id="customer-pricing-new-step-2-instruction-div">
        <p class="customer-pricing-new-step-2-instruction-title"><span class="customer-pricing-new-step-2-left-arrow">&#8592;</span>Step 2: Click the Create pricing button</p>
    </div>
    <script type="text/javascript">
        var jsWizStatus = document.getElementById("wiz-status").innerHTML
        document.getElementById("menu-div").addEventListener("click", function(e){
            if(e.target.id == "home-clicked" && jsWizStatus == 1){
                window.open("http://127.0.0.1:8000/home/index/1/", "_top")
            }
            else if(e.target.id == "customer-pricing-list-clicked" && jsWizStatus == 1){
                window.open("http://127.0.0.1:8000/customer_pricing_manager/customer_pricing_list/1/", "_top", "_top")
            }
            else if(e.target.id == "customer-pricing-list-clicked" && jsWizStatus==3){
                window.open("http://127.0.0.1:8000/customer_pricing_manager/customer_pricing_list/2/", "_top")

            }
        })
        function initialize_data(){
            document.getElementById("customer-name-select").focus();
            if(jsWizStatus == 2){
                
                document.getElementById("customer-pricing-new-step-1-instruction-div").style.visibility = "inherit"
                document.getElementById("customer-pricing-new-step-1-instruction-div").style.visibility = "true"
                document.getElementById("customer-pricing-new-step-2-instruction-div").style.visibility = "inherit"
                document.getElementById("customer-pricing-new-step-2-instruction-div").style.visibility = "true"
                document.getElementById("right-border").style.visibility = "inherit"
                document.getElementById("right-border").style.visibility = "true"
            }
            else if(jsWizStatus == 3){
                document.getElementById("customer-pricing-new-step-3-instruction-div").style.visibility = "inherit"
                document.getElementById("customer-pricing-new-step-3-instruction-div").style.visibility = "true"
                document.getElementById("create-customer-pricing-button").disabled = "true"
            }
        }
        //Enter key moves cursor to next input field
        document.addEventListener("keypress",function(event){
            whichKeyDown = event.which;
            if(whichKeyDown == 13 && document.getElementById("create-customer-pricing-button").className != document.activeElement.className){
                if(document.activeElement.className == ""){
                    document.getElementById("customer-name-select").focus();
                }
                else if(document.getElementById("customer-name-select").className == document.activeElement.className){
                    document.getElementById("item-name-select").focus();
                }
                else if(document.getElementById("item-name-select").className == document.activeElement.className){
                    document.getElementById("customer-pricing").focus();
                }
                else if(document.getElementById("customer-pricing").className == document.activeElement.className){
                    document.getElementById("create-customer-pricing-button").focus();
                }
                event.preventDefault();
                return;
            }  
        })
        // Hide Hidden Customer in Invoice 00000 used to setup default Invoice Form page
        selectCustomer = document.getElementById("customer-name-select")
        for(var i=1; i<= selectCustomer.options.length; i++){
            if(selectCustomer.options[i].text == "Hidden Customer"){
                selectCustomer.options[i].hidden = true;
                break;
            }
        }
        // Hide Hidden Item in Invoice 00000 used to setup default Invoice Form page
        selectItem = document.getElementById("item-name-select")
        for(var i=1; i<= selectItem.options.length; i++){
            if(selectItem.options[i].text == "Hidden Item"){
                selectItem.options[i].hidden = true;
                break;
            }
        }
        //Customer Price data is converted to a two decimal number
        function customer_pricing_input(){
            if(isNaN(document.getElementById("customer-pricing").value)){
                alert("Only numbers allowed in Customer Price field")
                document.getElementById("customer-pricing").value = ""
            }
            else if(document.getElementById("customer-pricing").value.trim() != ""){
                customerPricingNoCommas = document.getElementById("customer-pricing").value.replace(/,/g, '');
                customerPricing = Number(customerPricingNoCommas) + Number(customerPricingNoCommas) * Number.EPSILON;
                customerPricing = customerPricing.toFixed(2);
                customerPricingWholeNumber = ((customerPricing).split('.')[0]);
                customerPricingDecimal = ((customerPricing).split('.')[1]);
                customerPricing = Number(customerPricingWholeNumber).toLocaleString("en-US") + "." + customerPricingDecimal;
                document.getElementById("customer-pricing").value = customerPricing;
                event.preventDefault()
                return;
            }
        }
        //Data is validated when Create pricing button is clicked
        function validate_form(){
            if(document.getElementById("customer-name-select").value == "-1"){
                alert("Select a Customer");
                document.getElementById("customer-name-select").focus();
                event.preventDefault();
                return;
            }
            else{
                document.getElementById("customer-name-select").value = document.getElementById("customer-name-select").value.trim()
            }
            if(document.getElementById("item-name-select").value == "-1"){
                alert("Select an Item");
                document.getElementById("item-name-select").focus();
                event.preventDefault();
                return;
            }
            else{
                document.getElementById("item-name-select").value = document.getElementById("item-name-select").value.trim()
            }
            if(document.getElementById("customer-pricing").value.trim() == "") {
                alert("Enter customer pricing. Only blanks not allowed");
                document.getElementById("customer-pricing").focus();
                event.preventDefault();
                return;
            }
            else{
                document.getElementById("customer-pricing").value = document.getElementById("customer-pricing").value.trim()
            }
            let form = document.getElementById("customer-pricing-new-form");
            if(jsWizStatus == 1){
                form.action = "http://127.0.0.1:8000/customer_pricing_manager/customer_pricing_new/1/"
            }
            else if(jsWizStatus == 2){
                form.action = "http://127.0.0.1:8000/customer_pricing_manager/customer_pricing_new/3/"
            }
            form.submit();
        }
    </script>
</body>
</html>