input{
    display: block;
    margin-bottom: 5px;
}
.hyperlink-format{
    margin-bottom: 10px;
    font-weight: bold;
}
.customer-pricing-view-output{
    display: block;
    margin-bottom: 5px;
}
.output-label{
    font-weight: bold;
}
.customer-pricing-div{
    margin-bottom: 5px;
}
td, th{
    padding-right: 8px;
}
.hyperlink-menu-item{
    margin-right: 10px;
}
.create-customer-pricing-button{
    background-color: #FFA41C;
    border-width: 1px;
    border-radius: 16px;
}
.customer-name-select{
    background-color: rgb(255,216,20);
    border: 1px solid rgb(133,133,133);
    text-align: center;
}
.customer-name-select option{
    background-color: white;
}
.item-name-select{
    background-color: rgb(255,216,20);
    border: 1px solid rgb(133,133,133);
    text-align: center;
}
.item-name-select option{
    background-color: white;
}
.hide-me{
    visibility: hidden;
}