{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer_manager/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="menu-hyperlink-format">
        <a href="{% url 'index' %}" class="hyperlink-menu-item">Home</a>
        <a href="{% url 'customer_list' %}">Customer list</a>
    </div>
    <h2>
        New Customer Form
    </h2>
    <form action="{% url 'customer_new' %}" method="POST">
        {% csrf_token %}
        <div>
            <label>
                Name
                <input type="text" name="customer_name" required />
            </label>
        </div>
        <div>
            <label>
                Address
                <input type="text" name="customer_address" required />
            </label>
        </div>
        <div>
            <label>
                City
                <input type="text" name="customer_city" required />
            </label>
        </div>
        <div>
            <label>
                State
                <input type="text" name="customer_state" required />
            </label>
        </div>
        <div>
            <label>
                Country
                <input type="text" name="customer_country" required />
            </label>
        </div>
        <div>
            <label>Zip Code
                <input type="text" name="customer_zip_code" required />
            </label>
        </div>
        <button type="submit" class="create-customer-button">Create Customer</button>
    </form>
    {{ message }}
</body>
</html>