{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'customer_manager/style.css' %}?v={{ now }}">
    <title>Document</title>
</head>
<body onload="initialize_data()">
    <div id="menu-div" class="menu-hyperlink-format">
        <a id="home-clicked" href="#" onclick = "return false" class="hyperlink-menu-item-home hyperlink-menu-item">Home</a>
        <a id="customer-list-clicked" href="#" onclick = "return false" class="hyperlink-menu-item">Customer list</a>
    </div>
    <h2>
        New Customer Form
    </h2>
    <form action="#" id="new-customer-form" method="POST">
        {% csrf_token %}
        <div class="rect">
            <div class="content">
                <div>
                    <label>
                        Name
                        <input type="text" name="customer_name" id="customer-name" class="customer-name" onblur="customer_name_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>
                        Address
                        <input type="text" name="customer_address" id="customer-address" class="customer-address" onblur="customer_address_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>
                        City
                        <input type="text" name="customer_city" id="customer-city" class="customer-city" onblur="customer_city_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>
                        State
                        <input type="text" name="customer_state" id="customer-state" class="customer-state" onblur="customer_state_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>Zip Code
                        <input type="text" name="customer_zip_code" id="customer-zip-code" class="customer-zip-code" onblur="customer_zip_code_input()" placeholder="required" required />
                    </label>
                </div>
                <div>
                    <label>
                        Country
                        <input type="text" name="customer_country" id="customer-country" class="customer-country" onblur="customer_country_input()" placeholder="required" required />
                    </label>
                </div>
            </div>
            <div class="right-border" id="right-border">
                <span class="bracket-span left-brace-tl"></span>
                <span class="bracket-span left-brace-tr"></span><br />
                <span class="bracket-span left-brace-bl"></span>
                <span class="bracket-span left-brace-br"></span>
            </div>
        </div>
        <p>
            <button type="button" id="create-customer-button" class="create-customer-button" onclick="validate_form()">Create Customer</button>
        </p>
        {{ message }}
    </form>
    <p class="wiz-status" id="wiz-status">{{ wizStatus }}</p>
    <div class="customer-new-step-3-instruction-div" id="customer-new-step-3-instruction-div">
        <p class="customer-new-step-3-instruction-title"><span class="customer-new-step-3-left-arrow">&#8592;</span>Click the Customer list link to see the last Item created</p>
    </div>
    <div class="customer-new-step-1-instruction-div" id="customer-new-step-1-instruction-div">
        <p class="customer-new-step-1-instruction-title">Step 1: Fill in the required fields</p>
    </div>
    <div class="customer-new-step-2-instruction-div" id="customer-new-step-2-instruction-div">
        <p class="customer-new-step-2-instruction-title"><span class="customer-new-step-2-left-arrow">&#8592;</span>Step 2: Click the Create Customer button</p>
    </div>
    <script type="text/javascript">
        var jsWizStatus = document.getElementById("wiz-status").innerHTML
        document.getElementById("menu-div").addEventListener("click", function(e){
            if(e.target.id == "home-clicked" && jsWizStatus == 1){
                window.open("/home/index/1/", "_top")
            }
            else if(e.target.id == "customer-list-clicked" && jsWizStatus == 1){
                window.open("/customer_manager/customer_list/1/", "_top", "_top")
            }
            else if(e.target.id == "customer-list-clicked" && jsWizStatus==3){
                window.open("/customer_manager/customer_list/2/", "_top")

            }
        })
        function initialize_data(){
            document.getElementById("customer-name").focus();
            if(jsWizStatus == 2){
                document.getElementById("customer-new-step-1-instruction-div").style.visibility = "inherit"
                document.getElementById("customer-new-step-1-instruction-div").style.visibility = "true"
                document.getElementById("customer-new-step-2-instruction-div").style.visibility = "inherit"
                document.getElementById("customer-new-step-2-instruction-div").style.visibility = "true"
                document.getElementById("right-border").style.visibility = "inherit"
                document.getElementById("right-border").style.visibility = "true"
            }
            else if(jsWizStatus == 3){
                document.getElementById("customer-new-step-3-instruction-div").style.visibility = "inherit"
                document.getElementById("customer-new-step-3-instruction-div").style.visibility = "true"
                document.getElementById("create-customer-button").disabled = "true"
            }
        }
        //Go to next field when Enter key is pressed
        document.addEventListener("keypress", function(event){
        whichKeyDown = event.which;
        if(whichKeyDown == 13 && document.getElementById("create-customer-button").className != document.activeElement.className){
            if(document.activeElement.className == ""){
                document.getElementById("customer-name").focus();
            }
            else if(document.getElementById("customer-name").className == document.activeElement.className){
                document.getElementById("customer-address").focus();
            }
            else if(document.getElementById("customer-address").className == document.activeElement.className){
                document.getElementById("customer-city").focus();
            }
            else if(document.getElementById("customer-city").className == document.activeElement.className){
                document.getElementById("customer-state").focus();
            }
            else if(document.getElementById("customer-state").className == document.activeElement.className){
                document.getElementById("customer-zip-code").focus();
            }
            else if(document.getElementById("customer-zip-code").className == document.activeElement.className){
                document.getElementById("customer-country").focus();
            }
            else if(document.getElementById("customer-country").className == document.activeElement.className){
                document.getElementById("create-customer-button").focus();
            }
            }  
        })
        //validates customer name on blur
        function customer_name_input(){
            if((document.getElementById("customer-name").value != "")){
               if((document.getElementById("customer-name").value).includes("'") || (document.getElementById("customer-name").value).includes('"')){
                    alert("Apostrophes not allowed in Name field")
                    window.setTimeout(function () { document.getElementById("customer-name").focus(); }, 0);
                    return
                }
                else if(document.getElementById("customer-name").value.trim() == "" && document.getElementById("customer-name").value != ""){
                    alert("Field must contain more than only blank spaces")
                    document.getElementById("customer-name").value = ""
                    window.setTimeout(function () { document.getElementById("customer-name").focus(); }, 0)
                return
                }
            }
        }
        //validates customer address on blur
        function customer_address_input(){
            if((document.getElementById("customer-address").value != "")){
               if((document.getElementById("customer-address").value).includes("'") || (document.getElementById("customer-address").value).includes('"')){
                    alert("Apostrophes not allowed in Address field")
                    window.setTimeout(function () { document.getElementById("customer-address").focus(); }, 0);
                    return
                }
                else if(document.getElementById("customer-address").value.trim() == "" && document.getElementById("customer-address").value != ""){
                    alert("Field must contain more than only blank spaces")
                    document.getElementById("customer-address").value = ""
                    window.setTimeout(function () { document.getElementById("customer-address").focus(); }, 0)
                return
                }
            }
        }
        //validates customer city on blur
        function customer_city_input(){
            if((document.getElementById("customer-city").value != "")){
               if((document.getElementById("customer-city").value).includes("'") || (document.getElementById("customer-city").value).includes('"')){
                    alert("Apostrophes not allowed in City field")
                    window.setTimeout(function () { document.getElementById("customer-city").focus(); }, 0);
                    return
                }
                else if(document.getElementById("customer-city").value.trim() == "" && document.getElementById("customer-city").value != ""){
                    alert("Field must contain more than only blank spaces")
                    document.getElementById("customer-city").value = ""
                    window.setTimeout(function () { document.getElementById("customer-city").focus(); }, 0)
                return
                }
            }
        }
        //validates customer state on blur
        function customer_state_input(){
            if((document.getElementById("customer-state").value != "")){
               if((document.getElementById("customer-state").value).includes("'") || (document.getElementById("customer-state").value).includes('"')){
                    alert("Apostrophes not allowed in State field")
                    window.setTimeout(function () { document.getElementById("customer-state").focus(); }, 0);
                    return
                }
                else if(document.getElementById("customer-state").value.trim() == "" && document.getElementById("customer-state").value != ""){
                    alert("Field must contain more than only blank spaces")
                    document.getElementById("customer-state").value = ""
                    window.setTimeout(function () { document.getElementById("customer-state").focus(); }, 0)
                return
                }
            }
        }
        //validates customer country on blur
        function customer_country_input(){
            if((document.getElementById("customer-country").value != "")){
               if((document.getElementById("customer-country").value).includes("'") || (document.getElementById("customer-country").value).includes('"')){
                    alert("Apostrophes not allowed in Country field")
                    window.setTimeout(function () { document.getElementById("customer-country").focus(); }, 0);
                    return
                }
                else if(document.getElementById("customer-country").value.trim() == "" && document.getElementById("customer-country").value != ""){
                    alert("Field must contain more than only blank spaces")
                    document.getElementById("customer-country").value = ""
                    window.setTimeout(function () { document.getElementById("customer-country").focus(); }, 0)
                return
                }
            }
        }
        //validates customer zip code on blur
        function customer_zip_code_input(){
            if((document.getElementById("customer-zip-code").value != "")){
               if((document.getElementById("customer-zip-code").value).includes("'") || (document.getElementById("customer-zip-code").value).includes('"')){
                    alert("Apostrophes not allowed in Zip Code field")
                    window.setTimeout(function () { document.getElementById("customer-zip-code").focus(); }, 0);
                }
                else if(document.getElementById("customer-zip-code").value.trim() == "" && document.getElementById("customer-zip-code").value != ""){
                    alert("Field must contain more than only blank spaces")
                    document.getElementById("customer-zip-code").value = ""
                    window.setTimeout(function () { document.getElementById("customer-zip-code").focus(); }, 0)
                return
                }
            }
        }
        //code for tel # when implemented
        function customer_tel_input(){
            if((document.getElementById("customer-tel").value != "")){
               if((document.getElementById("customer-tel").value).includes("'") || (document.getElementById("customer-tel").value).includes('"')){
                    alert("Apostrophes not allowed in Telephone # field")
                    window.setTimeout(function () { document.getElementById("customer-tel").focus(); }, 0);
                    return
                }
                else if(document.getElementById("customer-tel").value.trim() == "" && document.getElementById("customer-tel").value != ""){
                    alert("Field must contain more than only blank spaces")
                    document.getElementById("customer-tel").value = ""
                    window.setTimeout(function () { document.getElementById("customer-tel").focus(); }, 0)
                return
                }
            }
        }
        //validate all data entered when Create Customer button is clicked
        function validate_form(){
            if((document.getElementById("customer-name").value.trim() == "")){
                alert("Enter the Customer Name. Only spaces not allowed")
                document.getElementById("customer-name").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("customer-name").value = document.getElementById("customer-name").value.trim()
            }
            if((document.getElementById("customer-address").value.trim() == "")){
                alert("Enter the Customer Address. Only spaces not allowed")
                document.getElementById("customer-address").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("customer-address").value = document.getElementById("customer-address").value.trim()
            }
            if((document.getElementById("customer-city").value.trim() == "")){
                alert("Enter the Customer City. Only spaces not allowed")
                document.getElementById("customer-city").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("customer-city").value = document.getElementById("customer-city").value.trim()
            }
            if((document.getElementById("customer-state").value.trim() == "")){
                alert("Enter the Customer State. Only spaces not allowed")
                document.getElementById("customer-state").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("customer-state").value = document.getElementById("customer-state").value.trim()
            }
            if((document.getElementById("customer-country").value.trim() == "")){
                alert("Enter the Customer Country. Only spaces not allowed")
                document.getElementById("customer-country").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("customer-country").value = document.getElementById("customer-country").value.trim()
            }
            if((document.getElementById("customer-zip-code").value.trim() == "")){
                alert("Enter the Customer Zip Code. Only spaces not allowed")
                document.getElementById("customer-zip-code").focus()
                event.preventDefault()
                return
            }
            else{
                document.getElementById("customer-zip-code").value = document.getElementById("customer-zip-code").value.trim()
            }
            let form = document.getElementById("new-customer-form");
            if(jsWizStatus == 1){
                form.action = "/customer_manager/customer_new/1/"
            }
            else if(jsWizStatus == 2){
                form.action = "/customer_manager/customer_new/3/"
            }
            form.submit();
        }
        </script>
</body>
</html>