/* body{
    background-image: url("images/AdobeStock_39802378_Preview.jpeg");
    background-size: 700px;
    background-position: center bottom;
    background-repeat: repeat-x;
    background-attachment: fixed;
} */
.app-table-properties{
    display: table;
    width: 100%;
    border-spacing: 0px;
    border: 1px solid black;
}
.wizard-table-properties{
    display: table;
    width: 100%;
    border-spacing: 0px;
    border: 1px solid black;
    background-image: url("images/wizard-image.jpg"), url("images/white-background.png");
    background-size: 150px 150px, cover;
    background-repeat: no-repeat;
    background-position: left top 100%;
}
.app-table-header{
    color: white;
    background-color: rgb(51,102,153);
    text-align: center;
    font-size: 1.5em;
}
.wizard-table-header{
    color: white;
    background-color: rgb(51,102,153);
    text-align: center;
    font-size: 1.5em;
}
td{
    text-align: center;
    padding: 5px;
}
td:empty::after{
    content: "\00a0";
}
#app-table tr:nth-child(even){
    background: #FFF;
}
#app-table tr:nth-child(odd){
    background: #CCC;
}
a{
    color:rgb(0,51,102);
}
li{
    background-color: white;
}
li:nth-child(odd){
    background-color: lightgray;
}
.app-container{
    display: flex;
}
.app-column{
    flex: 1;
}
.app-column-1{
    order: 1
}
.app-column-2{
    order: 2
}
.wizard-column-title{
    display: flex;
    justify-content: center;
    color: black;
    background-color: yellow;
    /* margin: 0px; */
}
.app-column-1-description{
    display: flex;
    flex-direction: column;
    /* display: block; */
    justify-content: center;
    /* margin-right: -50%; */
    /* transform: translateX(50%) */
    /* text-align: center; */
}
.wizard-column-1-description{
    display: flex;
    flex-direction: column;
    /* display: block; */
    justify-content: center;
    /* margin-right: -50%; */
    /* transform: translateX(50%) */
    /* text-align: center; */
}
.wizard-column-2-description{
    display: flex;
    justify-content: center;
    color:black;
}
.wizard-column-2-hyperlinks{
    display: flex;
    justify-content: center;
}
.wiz-status{
    visibility: hidden;
}
.wizard-index-step-1-instruction-title{
    font-size: 16px;
    color: blue;
}
.wizard-index-step-1-instruction{
    font-weight: bold;
    color: red;
    display: none;
}
.wizard-index-item-step-1-instruction{
    font-weight: bold;
    color: red;
    display: none;
}
.wizard-index-item-step-1-instruction-title{
    font-size: 16px;
    color: blue;
}
.wizard-index-customer-step-1-instruction{
    font-weight: bold;
    color: red;
    display: none;
}
.wizard-index-customer-step-1-instruction-title{
    font-size: 16px;
    color: blue;
}
/* .wizard-index-customer-step-1-left-arrow{
    font-size: 40px;
    font-weight: bold;
    color: red;
    margin-right: 6px;
    line-height: 10px;
    z-index: 0;
    position: relative;
    top: 5px;
} */
.wizard-index-customer-step-1-instruction-div{
    visibility: hidden;
}
.wizard-index-pricing-step-1-instruction{
    font-weight: bold;
    color: red;
    display: none;
}
.wizard-index-pricing-step-1-instruction-title{
    font-size: 16px;
    color: blue;
}
.wizard-index-pricing-step-1-instruction{
    visibility: hidden;
}
.wizard-index-invoice-step-1-instruction{
    font-weight: bold;
    color: red;
    display: none;
}
.wizard-index-invoice-step-1-instruction-title{
    font-size: 16px;
    color: blue;
}
.wizard-column-portal-page{
    display: none;
}